In [194]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [195]:
# read log file from test RALIS and create pandas dataframe

In [196]:
# path to logs
path01 = '/mnt/qb/baumgartner/cschmidt77_data/final_ACDC_exp1_3Devaluation_RALIS_msdHeart_lr0.01/'

In [197]:
path05 = '/mnt/qb/baumgartner/cschmidt77_data/final_ACDC_exp1_3Devaluation_RALIS_msdHeart_lr0.05/'

In [198]:
pathBraTS = '/mnt/qb/baumgartner/cschmidt77_data/_FINAL_acdc_exp1_pretrain_brats/'

In [209]:
pathNone = '/mnt/qb/baumgartner/cschmidt77_data/_FINAL_ACDC_exp1_NoPretrain/'

In [210]:
exp_2_acdc_ralis_test_01 = os.listdir(path01)

In [211]:
exp_2_acdc_ralis_test_05 = os.listdir(path05)

In [212]:
exp_1_acdc_brats = os.listdir(pathBraTS)

In [213]:
exp1_none = os.listdir(pathNone)

In [214]:
exp1_none

['2021-11-08-acdc_test_RIRD_budget_1184_lr_0.05_seed_123',
 '2021-11-08-acdc_test_RIRD_budget_1184_lr_0.05_seed_20',
 '2021-11-08-acdc_test_RIRD_budget_1184_lr_0.05_seed_234',
 '2021-11-08-acdc_test_RIRD_budget_1184_lr_0.05_seed_55',
 '2021-11-08-acdc_test_RIRD_budget_1184_lr_0.05_seed_77',
 '2021-11-08-acdc_test_RIRD_budget_128_lr_0.05_seed_123',
 '2021-11-08-acdc_test_RIRD_budget_128_lr_0.05_seed_20',
 '2021-11-08-acdc_test_RIRD_budget_128_lr_0.05_seed_234',
 '2021-11-08-acdc_test_RIRD_budget_128_lr_0.05_seed_55',
 '2021-11-08-acdc_test_RIRD_budget_128_lr_0.05_seed_77',
 '2021-11-08-acdc_test_RIRD_budget_1424_lr_0.05_seed_123',
 '2021-11-08-acdc_test_RIRD_budget_1424_lr_0.05_seed_20',
 '2021-11-08-acdc_test_RIRD_budget_1424_lr_0.05_seed_234',
 '2021-11-08-acdc_test_RIRD_budget_1424_lr_0.05_seed_55',
 '2021-11-08-acdc_test_RIRD_budget_1424_lr_0.05_seed_77',
 '2021-11-08-acdc_test_RIRD_budget_1904_lr_0.05_seed_123',
 '2021-11-08-acdc_test_RIRD_budget_1904_lr_0.05_seed_20',
 '2021-11-08-acdc_test_RIRD_budget_1904_lr_0.05_seed_234',
 '2021-11-08-acdc_test_RIRD_budget_1904_lr_0.05_seed_55',
 '2021-11-08-acdc_test_RIRD_budget_1904_lr_0.05_seed_77',
 '2021-11-08-acdc_test_RIRD_budget_2384_lr_0.05_seed_123',
 '2021-11-08-acdc_test_RIRD_budget_2384_lr_0.05_seed_20',
 '2021-11-08-acdc_test_RIRD_budget_2384_lr_0.05_seed_234',
 '2021-11-08-acdc_test_RIRD_budget_2384_lr_0.05_seed_55',
 '2021-11-08-acdc_test_RIRD_budget_2384_lr_0.05_seed_77',
 '2021-11-08-acdc_test_RIRD_budget_3568_lr_0.05_seed_123',
 '2021-11-08-acdc_test_RIRD_budget_3568_lr_0.05_seed_20',
 '2021-11-08-acdc_test_RIRD_budget_3568_lr_0.05_seed_234',
 '2021-11-08-acdc_test_RIRD_budget_3568_lr_0.05_seed_55',
 '2021-11-08-acdc_test_RIRD_budget_3568_lr_0.05_seed_77',
 '2021-11-08-acdc_test_RIRD_budget_592_lr_0.05_seed_123',
 '2021-11-08-acdc_test_RIRD_budget_592_lr_0.05_seed_20',
 '2021-11-08-acdc_test_RIRD_budget_592_lr_0.05_seed_234',
 '2021-11-08-acdc_test_RIRD_budget_592_lr_0.05_seed_55',
 '2021-11-08-acdc_test_RIRD_budget_592_lr_0.05_seed_77',
 '2021-11-08-acdc_test_RIRD_budget_64_lr_0.05_seed_123',
 '2021-11-08-acdc_test_RIRD_budget_64_lr_0.05_seed_20',
 '2021-11-08-acdc_test_RIRD_budget_64_lr_0.05_seed_234',
 '2021-11-08-acdc_test_RIRD_budget_64_lr_0.05_seed_55',
 '2021-11-08-acdc_test_RIRD_budget_64_lr_0.05_seed_77',
 '2021-11-08-acdc_test_RIRD_budget_960_lr_0.05_seed_123',
 '2021-11-08-acdc_test_RIRD_budget_960_lr_0.05_seed_20',
 '2021-11-08-acdc_test_RIRD_budget_960_lr_0.05_seed_234',
 '2021-11-08-acdc_test_RIRD_budget_960_lr_0.05_seed_55',
 '2021-11-08-acdc_test_RIRD_budget_960_lr_0.05_seed_77',
 '2021-11-08-acdc_test_stdAug_budget_1184_lr_0.05_seed_123',
 '2021-11-08-acdc_test_stdAug_budget_1184_lr_0.05_seed_20',
 '2021-11-08-acdc_test_stdAug_budget_1184_lr_0.05_seed_234',
 '2021-11-08-acdc_test_stdAug_budget_1184_lr_0.05_seed_55',
 '2021-11-08-acdc_test_stdAug_budget_1184_lr_0.05_seed_77',
 '2021-11-08-acdc_test_stdAug_budget_128_lr_0.05_seed_123',
 '2021-11-08-acdc_test_stdAug_budget_128_lr_0.05_seed_20',
 '2021-11-08-acdc_test_stdAug_budget_128_lr_0.05_seed_234',
 '2021-11-08-acdc_test_stdAug_budget_128_lr_0.05_seed_55',
 '2021-11-08-acdc_test_stdAug_budget_128_lr_0.05_seed_77',
 '2021-11-08-acdc_test_stdAug_budget_1424_lr_0.05_seed_123',
 '2021-11-08-acdc_test_stdAug_budget_1424_lr_0.05_seed_20',
 '2021-11-08-acdc_test_stdAug_budget_1424_lr_0.05_seed_234',
 '2021-11-08-acdc_test_stdAug_budget_1424_lr_0.05_seed_55',
 '2021-11-08-acdc_test_stdAug_budget_1424_lr_0.05_seed_77',
 '2021-11-08-acdc_test_stdAug_budget_1904_lr_0.05_seed_123',
 '2021-11-08-acdc_test_stdAug_budget_1904_lr_0.05_seed_20',
 '2021-11-08-acdc_test_stdAug_budget_1904_lr_0.05_seed_234',
 '2021-11-08-acdc_test_stdAug_budget_1904_lr_0.05_seed_55',
 '2021-11-08-acdc_test_stdAug_budget_1904_lr_0.05_seed_77',
 '2021-11-08-acdc_test_stdAug_budget_2384_lr_0.05_seed_123',
 '2021-11-08-acdc_test_stdAug_budget_2384_lr_0.05_seed_20',
 '2021-11-08-acdc_test_stdAug_budget_2384_lr_0.05_seed_234',
 '2021-11-08-acdc_test_stdAug_budget_2384_lr_0.05_seed_55',
 '2021-11-08-acdc_test_stdAug_budget_2384_lr_0.05_seed_77',
 '2021-11-08-acdc_test_stdAug_budget_3568_lr_0.05_seed_123',
 '2021-11-08-acdc_test_stdAug_budget_3568_lr_0.05_seed_20',
 '2021-11-08-acdc_test_stdAug_budget_3568_lr_0.05_seed_234',
 '2021-11-08-acdc_test_stdAug_budget_3568_lr_0.05_seed_55',
 '2021-11-08-acdc_test_stdAug_budget_3568_lr_0.05_seed_77',
 '2021-11-08-acdc_test_stdAug_budget_592_lr_0.05_seed_123',
 '2021-11-08-acdc_test_stdAug_budget_592_lr_0.05_seed_20',
 '2021-11-08-acdc_test_stdAug_budget_592_lr_0.05_seed_234',
 '2021-11-08-acdc_test_stdAug_budget_592_lr_0.05_seed_55',
 '2021-11-08-acdc_test_stdAug_budget_592_lr_0.05_seed_77',
 '2021-11-08-acdc_test_stdAug_budget_64_lr_0.05_seed_123',
 '2021-11-08-acdc_test_stdAug_budget_64_lr_0.05_seed_20',
 '2021-11-08-acdc_test_stdAug_budget_64_lr_0.05_seed_234',
 '2021-11-08-acdc_test_stdAug_budget_64_lr_0.05_seed_55',
 '2021-11-08-acdc_test_stdAug_budget_64_lr_0.05_seed_77',
 '2021-11-08-acdc_test_stdAug_budget_960_lr_0.05_seed_123',
 '2021-11-08-acdc_test_stdAug_budget_960_lr_0.05_seed_20',
 '2021-11-08-acdc_test_stdAug_budget_960_lr_0.05_seed_234',
 '2021-11-08-acdc_test_stdAug_budget_960_lr_0.05_seed_55',
 '2021-11-08-acdc_test_stdAug_budget_960_lr_0.05_seed_77']

In [222]:
exp_2_acdc_ralis_test = [*exp_2_acdc_ralis_test_01, *exp_2_acdc_ralis_test_05, *exp_1_acdc_brats, *exp1_none]

In [223]:
data_frame_lists = []
for exp in exp_2_acdc_ralis_test: 
    exp_path_01 = path01 + exp + '/Mean_3D_DSC.txt'
    exp_path_05 = path05 + exp + '/Mean_3D_DSC.txt'
    exp_path_brats = pathBraTS + exp + '/Mean_3D_DSC.txt'
    exp_path_none = pathNone + exp + '/Mean_3D_DSC.txt'
    if os.path.isfile(exp_path_01):
        exp_path = exp_path_01
    elif os.path.isfile(exp_path_05):
        exp_path = exp_path_05
    elif os.path.isfile(exp_path_brats):
        exp_path = exp_path_brats
    elif os.path.isfile(exp_path_none):
        exp_path = exp_path_none
    else:
        print("path does not exist: ", exp)
        
    if os.path.isfile(exp_path): 
        names = ["All classes", "background", "RV", "MYO", "LV", "Experiment", "Augmentation", "lr", "seed", "budget"]
        data = pd.read_csv(exp_path, nrows=1, skiprows=1, names=names, sep ='\t')
        data["Experiment"] = exp
        data = data[["Experiment", "Augmentation", "lr", "seed", "budget", "All classes", "background", "RV", "MYO", "LV"]]
        if 'RIRD' in exp:
            data['Augmentation'] = 'RI/RD' 
        elif 'std' in exp:
            data['Augmentation'] = 'standard' 
        else:
            print("check for augmentation")
        if 'lr_0.01' in exp:
            data['lr'] = '0.01'
        elif 'lr_0.05' in exp:
            data['lr'] = '0.05'
        else:
            print("check for learning rate")
        data['budget'] = exp.split('_')[-3]    
        if '2021-11-08' in exp:
            data["pre-trained"] = 'None'
            data['budget'] = exp.split('_')[-5]   
        elif 'ImageNet' in exp:
            data["pre-trained"] = 'ImageNet'
        elif 'msdHeart' in exp:
            data["pre-trained"] = 'MSDHeart'
        else:
            data["pre-trained"] = 'BraTS18'    
        data['seed'] = exp.split('_')[-1]
        data_frame_lists.append(data)

frame = pd.concat(data_frame_lists, axis=0, ignore_index=True)

In [224]:
frame

,Experiment,Augmentation,lr,seed,budget,All classes,background,RV,MYO,LV,pre-trained
0,2021-10-17-acdc_test_ep49_RIRD_msdHeart_agnost...,RI/RD,0.01,123,1184,0.370,0.983,0.123,0.166,0.210,MSDHeart
1,2021-10-17-acdc_test_ep49_RIRD_msdHeart_agnost...,RI/RD,0.01,20,1184,0.653,0.989,0.543,0.451,0.628,MSDHeart
2,2021-10-17-acdc_test_ep49_RIRD_msdHeart_agnost...,RI/RD,0.01,234,1184,0.690,0.991,0.488,0.533,0.746,MSDHeart
3,2021-10-17-acdc_test_ep49_RIRD_msdHeart_agnost...,RI/RD,0.01,55,1184,0.663,0.989,0.460,0.480,0.724,MSDHeart
4,2021-10-17-acdc_test_ep49_RIRD_msdHeart_agnost...,RI/RD,0.01,77,1184,0.536,0.986,0.196,0.348,0.614,MSDHeart
...,...,...,...,...,...,...,...,...,...,...,...
310,2021-11-08-acdc_test_stdAug_budget_960_lr_0.05...,standard,0.05,123,960,0.738,0.991,0.645,0.533,0.783,None
311,2021-11-08-acdc_test_stdAug_budget_960_lr_0.05...,standard,0.05,20,960,0.446,0.984,0.184,0.190,0.427,None
312,2021-11-08-acdc_test_stdAug_budget_960_lr_0.05...,standard,0.05,234,960,0.041,0.137,0.000,0.000,0.029,None
313,2021-11-08-acdc_test_stdAug_budget_960_lr_0.05...,standard,0.05,55,960,0.762,0.992,0.734,0.515,0.806,None
314,2021-11-08-acdc_test_stdAug_budget_960_lr_0.05...,standard,0.05,77,960,0.703,0.990,0.605,0.500,0.718,None

In [225]:
frame_all = frame.drop(columns="Experiment")

In [226]:
pd.options.display.float_format = "{:,.3f}".format

In [227]:
frame_all.sort_values(by=['All classes'], ascending=False)

,Augmentation,lr,seed,budget,All classes,background,RV,MYO,LV,pre-trained
163,standard,0.05,55,3568,0.906,0.997,0.855,0.850,0.922,MSDHeart
206,standard,0.05,123,3568,0.902,0.997,0.846,0.849,0.917,BraTS18
117,RI/RD,0.05,234,3568,0.895,0.997,0.831,0.839,0.912,MSDHeart
290,standard,0.05,123,2384,0.892,0.997,0.828,0.824,0.920,None
70,standard,0.01,123,3568,0.891,0.997,0.819,0.833,0.914,MSDHeart
...,...,...,...,...,...,...,...,...,...,...
297,standard,0.05,234,3568,0.067,0.239,0.000,0.000,0.027,None
312,standard,0.05,234,960,0.041,0.137,0.000,0.000,0.029,None
292,standard,0.05,234,2384,0.041,0.135,0.000,0.000,0.029,None
277,standard,0.05,234,128,0.041,0.136,0.028,0.000,0.000,None
272,standard,0.05,234,1184,0.041,0.135,0.028,0.000,0.000,None

In [228]:
frame_new = frame_all.loc[(frame_all['pre-trained'] == 'BraTS18')]

In [229]:
frame_new

,Augmentation,lr,seed,budget,All classes,background,RV,MYO,LV,pre-trained
180,standard,0.05,12,1184,0.799,0.993,0.751,0.622,0.831,BraTS18
181,standard,0.05,123,1184,0.544,0.988,0.400,0.154,0.635,BraTS18
182,standard,0.05,20,1184,0.659,0.989,0.568,0.407,0.673,BraTS18
183,standard,0.05,234,1184,0.438,0.985,0.296,0.041,0.432,BraTS18
184,standard,0.05,77,1184,0.632,0.990,0.559,0.277,0.701,BraTS18
185,standard,0.05,12,128,0.330,0.982,0.029,0.034,0.275,BraTS18
186,standard,0.05,123,128,0.251,0.970,0.036,0.000,0.000,BraTS18
187,standard,0.05,20,128,0.252,0.972,0.025,0.011,0.000,BraTS18
188,standard,0.05,234,128,0.386,0.982,0.064,0.190,0.308,BraTS18
189,standard,0.05,77,128,0.254,0.978,0.036,0.002,0.001,BraTS18
190,standard,0.05,12,1424,0.669,0.990,0.602,0.378,0.705,BraTS18
191,standard,0.05,123,1424,0.747,0.992,0.658,0.573,0.765,BraTS18
192,standard,0.05,20,1424,0.808,0.994,0.684,0.698,0.854,BraTS18
193,standard,0.05,234,1424,0.742,0.992,0.683,0.513,0.781,BraTS18
194,standard,0.05,77,1424,0.494,0.985,0.280,0.281,0.431,BraTS18
195,standard,0.05,12,1904,0.692,0.991,0.609,0.417,0.750,BraTS18
196,standard,0.05,123,1904,0.862,0.996,0.807,0.761,0.885,BraTS18
197,standard,0.05,20,1904,0.792,0.994,0.669,0.654,0.852,BraTS18
198,standard,0.05,234,1904,0.827,0.995,0.762,0.697,0.853,BraTS18
199,standard,0.05,77,1904,0.617,0.988,0.383,0.467,0.631,BraTS18
200,standard,0.05,12,2384,0.829,0.995,0.738,0.712,0.871,BraTS18
201,standard,0.05,123,2384,0.874,0.997,0.821,0.789,0.888,BraTS18
202,standard,0.05,20,2384,0.862,0.996,0.770,0.792,0.888,BraTS18
203,standard,0.05,234,2384,0.848,0.996,0.783,0.733,0.883,BraTS18
204,standard,0.05,77,2384,0.751,0.992,0.562,0.637,0.812,BraTS18
205,standard,0.05,12,3568,0.696,0.992,0.618,0.470,0.703,BraTS18
206,standard,0.05,123,3568,0.902,0.997,0.846,0.849,0.917,BraTS18
207,standard,0.05,20,3568,0.890,0.997,0.826,0.829,0.907,BraTS18
208,standard,0.05,234,3568,0.708,0.991,0.586,0.495,0.759,BraTS18
209,standard,0.05,77,3568,0.828,0.994,0.692,0.750,0.877,BraTS18
210,standard,0.05,12,592,0.736,0.991,0.596,0.563,0.794,BraTS18
211,standard,0.05,123,592,0.436,0.985,0.318,0.005,0.436,BraTS18
212,standard,0.05,20,592,0.451,0.983,0.203,0.180,0.438,BraTS18
213,standard,0.05,234,592,0.643,0.988,0.569,0.343,0.672,BraTS18
214,standard,0.05,77,592,0.422,0.983,0.209,0.169,0.327,BraTS18
215,standard,0.05,12,64,0.245,0.980,0.000,0.000,0.000,BraTS18
216,standard,0.05,123,64,0.246,0.979,0.000,0.005,0.000,BraTS18
217,standard,0.05,20,64,0.245,0.980,0.000,0.000,0.000,BraTS18
218,standard,0.05,234,64,0.245,0.979,0.000,0.000,0.001,BraTS18
219,standard,0.05,77,64,0.267,0.979,0.000,0.010,0.077,BraTS18
220,standard,0.05,12,960,0.352,0.982,0.264,0.028,0.137,BraTS18
221,standard,0.05,123,960,0.729,0.991,0.604,0.559,0.763,BraTS18
222,standard,0.05,20,960,0.702,0.991,0.563,0.509,0.746,BraTS18
223,standard,0.05,234,960,0.557,0.988,0.403,0.196,0.639,BraTS18
224,standard,0.05,77,960,0.566,0.987,0.439,0.333,0.506,BraTS18

## No pre-training standard

In [230]:
frame_new = frame_all.loc[(frame_all['pre-trained'] == 'None')]

In [231]:
frame_new

,Augmentation,lr,seed,budget,All classes,background,RV,MYO,LV,pre-trained
225,RI/RD,0.05,123,1184,0.822,0.995,0.769,0.661,0.864,None
226,RI/RD,0.05,20,1184,0.721,0.991,0.587,0.536,0.770,None
227,RI/RD,0.05,234,1184,0.691,0.990,0.540,0.453,0.782,None
228,RI/RD,0.05,55,1184,0.481,0.986,0.313,0.074,0.551,None
229,RI/RD,0.05,77,1184,0.712,0.991,0.542,0.547,0.768,None
...,...,...,...,...,...,...,...,...,...,...
310,standard,0.05,123,960,0.738,0.991,0.645,0.533,0.783,None
311,standard,0.05,20,960,0.446,0.984,0.184,0.190,0.427,None
312,standard,0.05,234,960,0.041,0.137,0.000,0.000,0.029,None
313,standard,0.05,55,960,0.762,0.992,0.734,0.515,0.806,None
314,standard,0.05,77,960,0.703,0.990,0.605,0.500,0.718,None

In [232]:
for budget in frame_new['budget'].unique():
    # create data frames for different budgets names e.g. imgStd01_budget_128
    df_noPT_std_budget = frame_new.loc[(frame_new['Augmentation'] == 'standard') & (frame_new['budget'] == budget)]
    globals()['df_noPT_std_budget_%s' % budget] = df_noPT_std_budget.groupby(['Augmentation','lr', 'budget']).agg({'All classes': ['mean', 'std'], 'background': ['mean', 'std'],
                                                          'LV':['mean', 'std'],'RV':['mean', 'std'], 'MYO':['mean', 'std']})

In [233]:
df_noPT_std_budget

,Augmentation,lr,seed,budget,All classes,background,RV,MYO,LV,pre-trained
310,standard,0.05,123,960,0.738,0.991,0.645,0.533,0.783,None
311,standard,0.05,20,960,0.446,0.984,0.184,0.190,0.427,None
312,standard,0.05,234,960,0.041,0.137,0.000,0.000,0.029,None
313,standard,0.05,55,960,0.762,0.992,0.734,0.515,0.806,None
314,standard,0.05,77,960,0.703,0.990,0.605,0.500,0.718,None

In [234]:
df_none_std = pd.concat([df_noPT_std_budget_64, df_noPT_std_budget_128, df_noPT_std_budget_592,
                           df_noPT_std_budget_960, df_noPT_std_budget_1184, df_noPT_std_budget_1424,
                           df_noPT_std_budget_1904, df_noPT_std_budget_2384, df_noPT_std_budget_3568])

In [235]:
df_none_std

                         All classes       background          LV          RV  \
                                mean   std       mean   std  mean   std  mean
Augmentation lr   budget
standard     0.05 64           0.248 0.012      0.971 0.017 0.005 0.007 0.016
                  128          0.224 0.105      0.811 0.377 0.060 0.072 0.014
                  592          0.432 0.166      0.982 0.006 0.314 0.246 0.299
                  960          0.538 0.305      0.819 0.381 0.553 0.330 0.433
                  1184         0.564 0.303      0.820 0.383 0.578 0.327 0.509
                  1424         0.526 0.307      0.901 0.195 0.458 0.409 0.391
                  1904         0.656 0.266      0.946 0.105 0.642 0.352 0.552
                  2384         0.644 0.348      0.822 0.384 0.673 0.368 0.564
                  3568         0.660 0.338      0.843 0.338 0.672 0.364 0.585

                                 MYO
                           std  mean   std
Augmentation lr   budget
standard     0.05 64     0.030 0.002 0.003
                  128    0.020 0.012 0.025
                  592    0.254 0.134 0.170
                  960    0.322 0.348 0.241
                  1184   0.279 0.350 0.287
                  1424   0.368 0.355 0.329
                  1904   0.317 0.484 0.309
                  2384   0.333 0.515 0.337
                  3568   0.334 0.541 0.328

In [256]:
for budget in frame_new['budget'].unique():
    # create data frames for different budgets names e.g. imgStd01_budget_128
    df_noPT_RIRD_budget = frame_new.loc[(frame_new['Augmentation'] == 'RI/RD') & (frame_new['budget'] == budget)]
    globals()['df_noPT_RIRD_budget_%s' % budget] = df_noPT_RIRD_budget.groupby(['Augmentation','lr', 'budget']).agg({'All classes': ['mean', 'std'], 'background': ['mean', 'std'],
                                                          'LV':['mean', 'std'],'RV':['mean', 'std'], 'MYO':['mean', 'std']})

In [258]:
df_none_std = df_noPT_RIRD_budget

In [260]:
df_none_std = pd.concat([df_noPT_std_budget_64, df_noPT_std_budget_128, df_noPT_std_budget_592,
                           df_noPT_std_budget_960, df_noPT_std_budget_1184, df_noPT_std_budget_1424,
                           df_noPT_std_budget_1904, df_noPT_std_budget_2384, df_noPT_std_budget_3568])

In [261]:
cols = [i for i in df_none_std.columns.values]
cols = np.unique(cols)
print("cols: ", cols)
#idx = [0,1,3,2]
cols = cols[idx]

cols:  ['All classes' 'LV' 'MYO' 'RV' 'background' 'mean' 'std']

In [262]:
df_lr_01 = df_none_std

In [263]:
df_lr_01

                         All classes       background          LV          RV  \
                                mean   std       mean   std  mean   std  mean
Augmentation lr   budget
RI/RD        0.05 64           0.247 0.003      0.980 0.000 0.000 0.000 0.003
                  128          0.269 0.035      0.979 0.004 0.083 0.115 0.007
                  592          0.522 0.117      0.986 0.003 0.531 0.134 0.338
                  960          0.643 0.187      0.989 0.005 0.650 0.266 0.513
                  1184         0.685 0.125      0.990 0.003 0.747 0.117 0.550
                  1424         0.783 0.020      0.993 0.001 0.824 0.048 0.690
                  1904         0.814 0.034      0.994 0.001 0.867 0.010 0.712
                  2384         0.721 0.240      0.992 0.007 0.720 0.306 0.594
                  3568         0.824 0.049      0.995 0.002 0.868 0.020 0.734

                                 MYO
                           std  mean   std
Augmentation lr   budget
RI/RD        0.05 64     0.006 0.005 0.012
                  128    0.015 0.008 0.011
                  592    0.197 0.234 0.165
                  960    0.260 0.420 0.220
                  1184   0.163 0.454 0.225
                  1424   0.018 0.626 0.038
                  1904   0.087 0.682 0.048
                  2384   0.314 0.578 0.336
                  3568   0.061 0.698 0.116

In [264]:
df_new = pd.DataFrame(columns=cols)
for c in cols:
    means = df_lr_01[c]['mean'].values
    stds = df_lr_01[c]['std'].values
    newcol = [f'{mean:.3f}(±{std:.3f})' for mean, std in zip(means, stds)]
    df_new[c] = newcol
    #df_lr_01.drop(c, axis=1, inplace=True)
    #df_lr_01[c] = newcol
    
df_new = pd.DataFrame(columns=cols)
for c in cols:
    means = df_lr_01[c]['mean'].values
    stds = df_lr_01[c]['std'].values
    newcol = [f'{mean:.3f}(±{std:.3f})' for mean, std in zip(means, stds)]
    df_new[c] = newcol
    df_lr_01.drop(c, axis=1, inplace=True)
    df_lr_01[c] = newcol
del df_lr_01['background']
df_lr_01 = df_lr_01.rename(columns={"Mean DSC":"All Classes"})

/home/carina/.local/lib/python3.8/site-packages/pandas/core/generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [265]:
df_none_std = df_lr_01

In [266]:
print(df_none_std.to_latex(index=True))

\begin{tabular}{lllllll}
\toprule
      &      &      &    All classes &             LV &             RV &            MYO \\
      &      &      \\
Augmentation & lr & budget &                &                &                &                \\
\midrule
RI/RD & 0.05 & 64 &  0.247(±0.003) &  0.000(±0.000) &  0.003(±0.006) &  0.005(±0.012) \\
      &      & 128 &  0.269(±0.035) &  0.083(±0.115) &  0.007(±0.015) &  0.008(±0.011) \\
      &      & 592 &  0.522(±0.117) &  0.531(±0.134) &  0.338(±0.197) &  0.234(±0.165) \\
      &      & 960 &  0.643(±0.187) &  0.650(±0.266) &  0.513(±0.260) &  0.420(±0.220) \\
      &      & 1184 &  0.685(±0.125) &  0.747(±0.117) &  0.550(±0.163) &  0.454(±0.225) \\
      &      & 1424 &  0.783(±0.020) &  0.824(±0.048) &  0.690(±0.018) &  0.626(±0.038) \\
      &      & 1904 &  0.814(±0.034) &  0.867(±0.010) &  0.712(±0.087) &  0.682(±0.048) \\
      &      & 2384 &  0.721(±0.240) &  0.720(±0.306) &  0.594(±0.314) &  0.578(±0.336) \\
      &      & 3568 &  0.824(±0.049) &  0.868(±0.020) &  0.734(±0.061) &  0.698(±0.116) \\
\bottomrule
\end{tabular}

## BraTS2018 pre-trained

In [67]:
for budget in frame_new['budget'].unique():
    # create data frames for different budgets names e.g. imgStd01_budget_128
    df_brats_std_budget = frame_new.loc[(frame_new['Augmentation'] == 'standard') & (frame_new['budget'] == budget)]
    globals()['df_brats_std_budget_%s' % budget] = df_brats_std_budget.groupby(['Augmentation','lr', 'budget']).agg({'All classes': ['mean', 'std'], 'background': ['mean', 'std'],
                                                          'RV':['mean', 'std'], 'MYO':['mean', 'std'], 'LV':['mean', 'std']})

In [68]:
df_brats_std_budget

,Augmentation,lr,seed,budget,All classes,background,RV,MYO,LV,pre-trained
220,standard,0.05,12,960,0.352,0.982,0.264,0.028,0.137,BraTS18
221,standard,0.05,123,960,0.729,0.991,0.604,0.559,0.763,BraTS18
222,standard,0.05,20,960,0.702,0.991,0.563,0.509,0.746,BraTS18
223,standard,0.05,234,960,0.557,0.988,0.403,0.196,0.639,BraTS18
224,standard,0.05,77,960,0.566,0.987,0.439,0.333,0.506,BraTS18

### concatenate all BraTS18 pre-trained

In [103]:
df_brats_std = pd.concat([df_brats_std_budget_64, df_brats_std_budget_128, df_brats_std_budget_592,
                           df_brats_std_budget_960, df_brats_std_budget_1184, df_brats_std_budget_1424,
                           df_brats_std_budget_1904, df_brats_std_budget_2384, df_brats_std_budget_3568])

In [104]:
df_brats_std

                         All classes       background          RV         MYO  \
                                mean   std       mean   std  mean   std  mean
Augmentation lr   budget
standard     0.05 64           0.249 0.010      0.979 0.000 0.000 0.000 0.003
                  128          0.295 0.061      0.977 0.006 0.038 0.015 0.047
                  592          0.538 0.143      0.986 0.003 0.379 0.192 0.252
                  960          0.581 0.150      0.988 0.004 0.454 0.135 0.325
                  1184         0.615 0.135      0.989 0.003 0.515 0.174 0.300
                  1424         0.692 0.121      0.990 0.003 0.582 0.172 0.489
                  1904         0.758 0.101      0.993 0.003 0.646 0.166 0.599
                  2384         0.833 0.049      0.995 0.002 0.735 0.101 0.732
                  3568         0.805 0.098      0.994 0.003 0.714 0.118 0.679

                                  LV
                           std  mean   std
Augmentation lr   budget
standard     0.05 64     0.005 0.016 0.034
                  128    0.081 0.117 0.160
                  592    0.211 0.533 0.192
                  960    0.220 0.558 0.257
                  1184   0.226 0.655 0.145
                  1424   0.164 0.707 0.163
                  1904   0.149 0.794 0.104
                  2384   0.064 0.868 0.032
                  3568   0.183 0.832 0.096

In [105]:
cols = [i for i in df_brats_std.columns.values]
cols = np.unique(cols)
print("cols: ", cols)
idx = [0,1,3,2]
cols = cols[idx]

cols:  ['All classes' 'LV' 'MYO' 'RV' 'background' 'mean' 'std']

In [106]:
df_new = pd.DataFrame(columns=cols)
for c in cols:
    means = df_brats_std [c]['mean'].values
    stds = df_brats_std [c]['std'].values
    newcol = [f'{mean:.3f}(±{std:.3f})' for mean, std in zip(means, stds)]
    df_new[c] = newcol
    #df_lr_01.drop(c, axis=1, inplace=True)
    #df_lr_01[c] = newcol
    
df_new = pd.DataFrame(columns=cols)
for c in cols:
    means = df_brats_std [c]['mean'].values
    stds =df_brats_std [c]['std'].values
    newcol = [f'{mean:.3f}(±{std:.3f})' for mean, std in zip(means, stds)]
    df_new[c] = newcol
    df_brats_std .drop(c, axis=1, inplace=True)
    df_brats_std [c] = newcol
del df_brats_std ['background']
df_brats_std  = df_brats_std .rename(columns={"Mean DSC":"All Classes"})

/home/carina/.local/lib/python3.8/site-packages/pandas/core/generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [107]:
df_brats_std

                            All classes             LV             RV  \

Augmentation lr   budget
standard     0.05 64      0.249(±0.010)  0.016(±0.034)  0.000(±0.000)
                  128     0.295(±0.061)  0.117(±0.160)  0.038(±0.015)
                  592     0.538(±0.143)  0.533(±0.192)  0.379(±0.192)
                  960     0.581(±0.150)  0.558(±0.257)  0.454(±0.135)
                  1184    0.615(±0.135)  0.655(±0.145)  0.515(±0.174)
                  1424    0.692(±0.121)  0.707(±0.163)  0.582(±0.172)
                  1904    0.758(±0.101)  0.794(±0.104)  0.646(±0.166)
                  2384    0.833(±0.049)  0.868(±0.032)  0.735(±0.101)
                  3568    0.805(±0.098)  0.832(±0.096)  0.714(±0.118)

                                    MYO

Augmentation lr   budget
standard     0.05 64      0.003(±0.005)
                  128     0.047(±0.081)
                  592     0.252(±0.211)
                  960     0.325(±0.220)
                  1184    0.300(±0.226)
                  1424    0.489(±0.164)
                  1904    0.599(±0.149)
                  2384    0.732(±0.064)
                  3568    0.679(±0.183)

In [109]:
print(df_brats_std.to_latex(index=True))

\begin{tabular}{lllllll}
\toprule
         &      &      &    All classes &             LV &             RV &            MYO \\
         &      &      \\
Augmentation & lr & budget &                &                &                &                \\
\midrule
standard & 0.05 & 64 &  0.249(±0.010) &  0.016(±0.034) &  0.000(±0.000) &  0.003(±0.005) \\
         &      & 128 &  0.295(±0.061) &  0.117(±0.160) &  0.038(±0.015) &  0.047(±0.081) \\
         &      & 592 &  0.538(±0.143) &  0.533(±0.192) &  0.379(±0.192) &  0.252(±0.211) \\
         &      & 960 &  0.581(±0.150) &  0.558(±0.257) &  0.454(±0.135) &  0.325(±0.220) \\
         &      & 1184 &  0.615(±0.135) &  0.655(±0.145) &  0.515(±0.174) &  0.300(±0.226) \\
         &      & 1424 &  0.692(±0.121) &  0.707(±0.163) &  0.582(±0.172) &  0.489(±0.164) \\
         &      & 1904 &  0.758(±0.101) &  0.794(±0.104) &  0.646(±0.166) &  0.599(±0.149) \\
         &      & 2384 &  0.833(±0.049) &  0.868(±0.032) &  0.735(±0.101) &  0.732(±0.064) \\
         &      & 3568 &  0.805(±0.098) &  0.832(±0.096) &  0.714(±0.118) &  0.679(±0.183) \\
\bottomrule
\end{tabular}

In [75]:
c = df_brats_std.columns

In [86]:
df_brats_std['RV']

Augmentation  lr    budget
standard      0.05  64        0.000(±0.000)
                    128       0.038(±0.015)
                    592       0.379(±0.192)
                    960       0.454(±0.135)
                    1184      0.515(±0.174)
                    1424      0.582(±0.172)
                    1904      0.646(±0.166)
                    2384      0.735(±0.101)
                    3568      0.714(±0.118)
Name: RV, dtype: object

In [88]:
df_brats_std

                            All classes            MYO             RV  \

Augmentation lr   budget
standard     0.05 64      0.249(±0.010)  0.016(±0.034)  0.000(±0.000)
                  128     0.295(±0.061)  0.117(±0.160)  0.038(±0.015)
                  592     0.538(±0.143)  0.533(±0.192)  0.379(±0.192)
                  960     0.581(±0.150)  0.558(±0.257)  0.454(±0.135)
                  1184    0.615(±0.135)  0.655(±0.145)  0.515(±0.174)
                  1424    0.692(±0.121)  0.707(±0.163)  0.582(±0.172)
                  1904    0.758(±0.101)  0.794(±0.104)  0.646(±0.166)
                  2384    0.833(±0.049)  0.868(±0.032)  0.735(±0.101)
                  3568    0.805(±0.098)  0.832(±0.096)  0.714(±0.118)

                                     LV

Augmentation lr   budget
standard     0.05 64      0.003(±0.005)
                  128     0.047(±0.081)
                  592     0.252(±0.211)
                  960     0.325(±0.220)
                  1184    0.300(±0.226)
                  1424    0.489(±0.164)
                  1904    0.599(±0.149)
                  2384    0.732(±0.064)
                  3568    0.679(±0.183)

## ImageNet - stdAug - lr 0.01

In [27]:
for budget in frame_new['budget'].unique():
    # create data frames for different budgets names e.g. imgStd01_budget_128
    df_img_std01_budget = frame_new.loc[(frame_new['Augmentation'] == 'standard') & (frame_new['lr'] == '0.01') & (frame_new['budget'] == budget)]
    globals()['imgStd01_meanstd_budget_%s' % budget] = df_img_std01_budget.groupby(['Augmentation','lr', 'budget']).agg({'All classes': ['mean', 'std'], 'background': ['mean', 'std'],
                                                          'RV':['mean', 'std'], 'MYO':['mean', 'std'], 'LV':['mean', 'std']})

In [28]:
imgStd01_meanstd_budget_128

                         All classes       background          RV         MYO  \
                                mean   std       mean   std  mean   std  mean
Augmentation lr   budget
standard     0.01 128          0.263 0.023      0.980 0.001 0.010 0.019 0.007

                                  LV
                           std  mean   std
Augmentation lr   budget
standard     0.01 128    0.010 0.057 0.069

## ImageNet - stdAug - lr 0.05

In [29]:
for budget in frame_new['budget'].unique():
    df_img_std05_budget = frame_new.loc[(frame_new['Augmentation'] == 'standard') & (frame_new['lr'] == '0.05') & (frame_new['budget'] == budget)]
    globals()['imgStd05_meanstd_budget_%s' % budget] = df_img_std05_budget.groupby(['Augmentation','lr', 'budget']).agg({'All classes': ['mean', 'std'], 'background': ['mean', 'std'],
                                                          'RV':['mean', 'std'], 'MYO':['mean', 'std'], 'LV':['mean', 'std']})

## ImageNet - RI/RD Aug - lr 0.05

In [30]:
for budget in frame_new['budget'].unique():
    # create data frames for different budgets names e.g. imgStd01_budget_128
    df_img_rird05_budget = frame_new.loc[(frame_new['Augmentation'] == 'RI/RD') & (frame_new['lr'] == '0.05') & (frame_new['budget'] == budget)]
    globals()['imgRIRD05_meanstd_budget_%s' % budget] = df_img_rird05_budget.groupby(['Augmentation','lr', 'budget']).agg({'All classes': ['mean', 'std'], 'background': ['mean', 'std'],
                                                          'RV':['mean', 'std'], 'MYO':['mean', 'std'], 'LV':['mean', 'std']})

In [31]:
imgRIRD05_meanstd_budget_592

                         All classes       background          RV         MYO  \
                                mean   std       mean   std  mean   std  mean
Augmentation lr   budget
RI/RD        0.05 592          0.425 0.147      0.975 0.019 0.267 0.171 0.150

                                  LV
                           std  mean   std
Augmentation lr   budget
RI/RD        0.05 592    0.161 0.309 0.270

## ImageNet - RI/RD Aug - lr 0.01

In [32]:
for budget in frame_new['budget'].unique():
    # create data frames for different budgets names e.g. imgStd01_budget_128
    df_img_rird01_budget = frame_new.loc[(frame_new['Augmentation'] == 'RI/RD') & (frame_new['lr'] == '0.01') & (frame_new['budget'] == budget)]
    globals()['imgRIRD01_meanstd_budget_%s' % budget] = df_img_rird01_budget.groupby(['Augmentation','lr', 'budget']).agg({'All classes': ['mean', 'std'], 'background': ['mean', 'std'],
                                                          'RV':['mean', 'std'], 'MYO':['mean', 'std'], 'LV':['mean', 'std']})

## Concatenated for budgets (ImageNet - RI/RD Aug - lr 0.05)

In [33]:
# budgets 64 128 592 960 1184 1424 1904 2384 3568

In [34]:
budgets = frame_new['budget'].unique()

In [35]:
budgets

array(['1184', '128', '1424', '1904', '2384', '3568', '592', '64', '960'],
      dtype=object)

In [36]:
df_img_rird_05 = pd.concat([imgRIRD05_meanstd_budget_64, imgRIRD05_meanstd_budget_128, imgRIRD05_meanstd_budget_592,
                           imgRIRD05_meanstd_budget_960, imgRIRD05_meanstd_budget_1184, imgRIRD05_meanstd_budget_1424,
                           imgRIRD05_meanstd_budget_1904, imgRIRD05_meanstd_budget_2384, imgRIRD05_meanstd_budget_3568])

In [37]:
df_img_rird_05

                         All classes       background          RV         MYO  \
                                mean   std       mean   std  mean   std  mean
Augmentation lr   budget
RI/RD        0.05 64           0.256 0.013      0.972 0.010 0.003 0.007 0.013
                  128          0.269 0.030      0.980 0.001 0.007 0.015 0.009
                  592          0.425 0.147      0.975 0.019 0.267 0.171 0.150
                  960          0.629 0.063      0.988 0.002 0.485 0.147 0.370
                  1184         0.705 0.068      0.991 0.002 0.582 0.088 0.490
                  1424         0.645 0.124      0.990 0.002 0.520 0.186 0.371
                  1904         0.668 0.252      0.991 0.007 0.545 0.315 0.468
                  2384         0.730 0.095      0.993 0.002 0.627 0.114 0.530
                  3568         0.811 0.094      0.995 0.002 0.733 0.106 0.674

                                  LV
                           std  mean   std
Augmentation lr   budget
RI/RD        0.05 64     0.020 0.036 0.051
                  128    0.020 0.081 0.112
                  592    0.161 0.309 0.270
                  960    0.083 0.672 0.067
                  1184   0.133 0.758 0.062
                  1424   0.230 0.698 0.101
                  1904   0.335 0.667 0.377
                  2384   0.173 0.770 0.098
                  3568   0.183 0.844 0.085

## Concatenated for budgets (ImageNet - RI/RD Aug - lr 0.01)

In [38]:
df_img_rird_01 = pd.concat([imgRIRD01_meanstd_budget_64, imgRIRD01_meanstd_budget_128, imgRIRD01_meanstd_budget_592,
                           imgRIRD01_meanstd_budget_960, imgRIRD01_meanstd_budget_1184, imgRIRD01_meanstd_budget_1424,
                           imgRIRD01_meanstd_budget_1904, imgRIRD01_meanstd_budget_2384, imgRIRD01_meanstd_budget_3568])

In [39]:
df_img_rird_01

                         All classes       background          RV         MYO  \
                                mean   std       mean   std  mean   std  mean
Augmentation lr   budget
RI/RD        0.01 64           0.245 0.000      0.980 0.000 0.000 0.000 0.000
                  128          0.272 0.050      0.980 0.001 0.026 0.058 0.010
                  592          0.438 0.102      0.983 0.002 0.160 0.127 0.172
                  960          0.481 0.106      0.984 0.003 0.208 0.140 0.287
                  1184         0.582 0.132      0.987 0.003 0.362 0.189 0.396
                  1424         0.628 0.101      0.989 0.002 0.391 0.156 0.453
                  1904         0.696 0.156      0.991 0.005 0.520 0.222 0.578
                  2384         0.780 0.075      0.994 0.002 0.673 0.081 0.649
                  3568         0.796 0.108      0.994 0.004 0.676 0.179 0.683

                                  LV
                           std  mean   std
Augmentation lr   budget
RI/RD        0.01 64     0.000 0.000 0.000
                  128    0.023 0.071 0.120
                  592    0.154 0.436 0.185
                  960    0.125 0.446 0.178
                  1184   0.145 0.584 0.217
                  1424   0.140 0.677 0.134
                  1904   0.180 0.696 0.227
                  2384   0.132 0.806 0.086
                  3568   0.168 0.831 0.095

## Concatenated for budgets (ImageNet - std Aug - lr 0.01)

In [40]:
df_img_std_01 = pd.concat([imgStd01_meanstd_budget_64, imgStd01_meanstd_budget_128, imgStd01_meanstd_budget_592,
                           imgStd01_meanstd_budget_960, imgStd01_meanstd_budget_1184, imgStd01_meanstd_budget_1424,
                           imgStd01_meanstd_budget_1904, imgStd01_meanstd_budget_2384, imgStd01_meanstd_budget_3568])

In [41]:
df_img_std_01

                         All classes       background          RV         MYO  \
                                mean   std       mean   std  mean   std  mean
Augmentation lr   budget
standard     0.01 64           0.245 0.000      0.980 0.000 0.000 0.000 0.000
                  128          0.263 0.023      0.980 0.001 0.010 0.019 0.007
                  592          0.527 0.084      0.985 0.002 0.272 0.205 0.352
                  960          0.613 0.090      0.987 0.002 0.411 0.209 0.427
                  1184         0.668 0.098      0.989 0.002 0.472 0.223 0.508
                  1424         0.682 0.081      0.989 0.002 0.497 0.195 0.536
                  1904         0.751 0.081      0.992 0.003 0.579 0.191 0.632
                  2384         0.823 0.043      0.994 0.002 0.698 0.095 0.731
                  3568         0.867 0.026      0.996 0.001 0.783 0.034 0.791

                                  LV
                           std  mean   std
Augmentation lr   budget
standard     0.01 64     0.000 0.000 0.000
                  128    0.010 0.057 0.069
                  592    0.067 0.498 0.106
                  960    0.057 0.627 0.100
                  1184   0.098 0.701 0.139
                  1424   0.075 0.707 0.084
                  1904   0.099 0.800 0.081
                  2384   0.074 0.869 0.028
                  3568   0.058 0.897 0.015

## Concatenated for budgets (ImageNet - std Aug - lr 0.05)

In [42]:
df_img_std_05 = pd.concat([imgStd05_meanstd_budget_64, imgStd05_meanstd_budget_128, imgStd05_meanstd_budget_592,
                           imgStd05_meanstd_budget_960, imgStd05_meanstd_budget_1184, imgStd05_meanstd_budget_1424,
                           imgStd05_meanstd_budget_1904, imgStd05_meanstd_budget_2384, imgStd05_meanstd_budget_3568])

In [43]:
df_img_std_05

                         All classes       background          RV         MYO  \
                                mean   std       mean   std  mean   std  mean
Augmentation lr   budget
standard     0.05 64           0.255 0.007      0.980 0.000 0.000 0.000 0.000
                  128          0.263 0.007      0.979 0.001 0.023 0.033 0.010
                  592          0.405 0.136      0.983 0.003 0.148 0.174 0.138
                  960          0.460 0.181      0.985 0.005 0.262 0.232 0.179
                  1184         0.601 0.148      0.988 0.004 0.439 0.204 0.396
                  1424         0.563 0.143      0.987 0.004 0.339 0.171 0.374
                  1904         0.733 0.134      0.992 0.004 0.563 0.234 0.587
                  2384         0.756 0.117      0.992 0.004 0.643 0.180 0.601
                  3568         0.812 0.090      0.994 0.003 0.729 0.098 0.682

                                  LV
                           std  mean   std
Augmentation lr   budget
standard     0.05 64     0.001 0.042 0.029
                  128    0.016 0.041 0.038
                  592    0.195 0.350 0.214
                  960    0.203 0.413 0.314
                  1184   0.212 0.580 0.186
                  1424   0.177 0.551 0.228
                  1904   0.202 0.789 0.101
                  2384   0.188 0.788 0.107
                  3568   0.186 0.845 0.089

In [44]:
df_img_std_05

                         All classes       background          RV         MYO  \
                                mean   std       mean   std  mean   std  mean
Augmentation lr   budget
standard     0.05 64           0.255 0.007      0.980 0.000 0.000 0.000 0.000
                  128          0.263 0.007      0.979 0.001 0.023 0.033 0.010
                  592          0.405 0.136      0.983 0.003 0.148 0.174 0.138
                  960          0.460 0.181      0.985 0.005 0.262 0.232 0.179
                  1184         0.601 0.148      0.988 0.004 0.439 0.204 0.396
                  1424         0.563 0.143      0.987 0.004 0.339 0.171 0.374
                  1904         0.733 0.134      0.992 0.004 0.563 0.234 0.587
                  2384         0.756 0.117      0.992 0.004 0.643 0.180 0.601
                  3568         0.812 0.090      0.994 0.003 0.729 0.098 0.682

                                  LV
                           std  mean   std
Augmentation lr   budget
standard     0.05 64     0.001 0.042 0.029
                  128    0.016 0.041 0.038
                  592    0.195 0.350 0.214
                  960    0.203 0.413 0.314
                  1184   0.212 0.580 0.186
                  1424   0.177 0.551 0.228
                  1904   0.202 0.789 0.101
                  2384   0.188 0.788 0.107
                  3568   0.186 0.845 0.089

In [45]:
## Concatenate for all 4 settings (lr 0.01 and lr 0.05) and (std and rird augmentations)

In [46]:
df_lr_01 = pd.concat([df_img_rird_01, df_img_std_01])

In [47]:
df_lr_01

                         All classes       background          RV         MYO  \
                                mean   std       mean   std  mean   std  mean
Augmentation lr   budget
RI/RD        0.01 64           0.245 0.000      0.980 0.000 0.000 0.000 0.000
                  128          0.272 0.050      0.980 0.001 0.026 0.058 0.010
                  592          0.438 0.102      0.983 0.002 0.160 0.127 0.172
                  960          0.481 0.106      0.984 0.003 0.208 0.140 0.287
                  1184         0.582 0.132      0.987 0.003 0.362 0.189 0.396
                  1424         0.628 0.101      0.989 0.002 0.391 0.156 0.453
                  1904         0.696 0.156      0.991 0.005 0.520 0.222 0.578
                  2384         0.780 0.075      0.994 0.002 0.673 0.081 0.649
                  3568         0.796 0.108      0.994 0.004 0.676 0.179 0.683
standard     0.01 64           0.245 0.000      0.980 0.000 0.000 0.000 0.000
                  128          0.263 0.023      0.980 0.001 0.010 0.019 0.007
                  592          0.527 0.084      0.985 0.002 0.272 0.205 0.352
                  960          0.613 0.090      0.987 0.002 0.411 0.209 0.427
                  1184         0.668 0.098      0.989 0.002 0.472 0.223 0.508
                  1424         0.682 0.081      0.989 0.002 0.497 0.195 0.536
                  1904         0.751 0.081      0.992 0.003 0.579 0.191 0.632
                  2384         0.823 0.043      0.994 0.002 0.698 0.095 0.731
                  3568         0.867 0.026      0.996 0.001 0.783 0.034 0.791

                                  LV
                           std  mean   std
Augmentation lr   budget
RI/RD        0.01 64     0.000 0.000 0.000
                  128    0.023 0.071 0.120
                  592    0.154 0.436 0.185
                  960    0.125 0.446 0.178
                  1184   0.145 0.584 0.217
                  1424   0.140 0.677 0.134
                  1904   0.180 0.696 0.227
                  2384   0.132 0.806 0.086
                  3568   0.168 0.831 0.095
standard     0.01 64     0.000 0.000 0.000
                  128    0.010 0.057 0.069
                  592    0.067 0.498 0.106
                  960    0.057 0.627 0.100
                  1184   0.098 0.701 0.139
                  1424   0.075 0.707 0.084
                  1904   0.099 0.800 0.081
                  2384   0.074 0.869 0.028
                  3568   0.058 0.897 0.015

In [48]:
df_lr_01.columns

MultiIndex([('All classes', 'mean'),
            ('All classes',  'std'),
            ( 'background', 'mean'),
            ( 'background',  'std'),
            (         'RV', 'mean'),
            (         'RV',  'std'),
            (        'MYO', 'mean'),
            (        'MYO',  'std'),
            (         'LV', 'mean'),
            (         'LV',  'std')],
           )

In [49]:
df_lr_01

                         All classes       background          RV         MYO  \
                                mean   std       mean   std  mean   std  mean
Augmentation lr   budget
RI/RD        0.01 64           0.245 0.000      0.980 0.000 0.000 0.000 0.000
                  128          0.272 0.050      0.980 0.001 0.026 0.058 0.010
                  592          0.438 0.102      0.983 0.002 0.160 0.127 0.172
                  960          0.481 0.106      0.984 0.003 0.208 0.140 0.287
                  1184         0.582 0.132      0.987 0.003 0.362 0.189 0.396
                  1424         0.628 0.101      0.989 0.002 0.391 0.156 0.453
                  1904         0.696 0.156      0.991 0.005 0.520 0.222 0.578
                  2384         0.780 0.075      0.994 0.002 0.673 0.081 0.649
                  3568         0.796 0.108      0.994 0.004 0.676 0.179 0.683
standard     0.01 64           0.245 0.000      0.980 0.000 0.000 0.000 0.000
                  128          0.263 0.023      0.980 0.001 0.010 0.019 0.007
                  592          0.527 0.084      0.985 0.002 0.272 0.205 0.352
                  960          0.613 0.090      0.987 0.002 0.411 0.209 0.427
                  1184         0.668 0.098      0.989 0.002 0.472 0.223 0.508
                  1424         0.682 0.081      0.989 0.002 0.497 0.195 0.536
                  1904         0.751 0.081      0.992 0.003 0.579 0.191 0.632
                  2384         0.823 0.043      0.994 0.002 0.698 0.095 0.731
                  3568         0.867 0.026      0.996 0.001 0.783 0.034 0.791

                                  LV
                           std  mean   std
Augmentation lr   budget
RI/RD        0.01 64     0.000 0.000 0.000
                  128    0.023 0.071 0.120
                  592    0.154 0.436 0.185
                  960    0.125 0.446 0.178
                  1184   0.145 0.584 0.217
                  1424   0.140 0.677 0.134
                  1904   0.180 0.696 0.227
                  2384   0.132 0.806 0.086
                  3568   0.168 0.831 0.095
standard     0.01 64     0.000 0.000 0.000
                  128    0.010 0.057 0.069
                  592    0.067 0.498 0.106
                  960    0.057 0.627 0.100
                  1184   0.098 0.701 0.139
                  1424   0.075 0.707 0.084
                  1904   0.099 0.800 0.081
                  2384   0.074 0.869 0.028
                  3568   0.058 0.897 0.015

In [50]:
cols = [i for i in df_lr_01.columns.values]
print("cols: ", cols)
cols = np.unique(cols)
idx = [0,1,4,3,2]
cols = cols[idx]

cols:  [('All classes', 'mean'), ('All classes', 'std'), ('background', 'mean'), ('background', 'std'), ('RV', 'mean'), ('RV', 'std'), ('MYO', 'mean'), ('MYO', 'std'), ('LV', 'mean'), ('LV', 'std')]

In [51]:
df_new = pd.DataFrame(columns=cols)
for c in cols:
    means = df_lr_01[c]['mean'].values
    stds = df_lr_01[c]['std'].values
    newcol = [f'{mean:.3f}(±{std:.3f})' for mean, std in zip(means, stds)]
    df_new[c] = newcol
    #df_lr_01.drop(c, axis=1, inplace=True)
    #df_lr_01[c] = newcol
    
df_new = pd.DataFrame(columns=cols)
for c in cols:
    means = df_lr_01[c]['mean'].values
    stds = df_lr_01[c]['std'].values
    newcol = [f'{mean:.3f}(±{std:.3f})' for mean, std in zip(means, stds)]
    df_new[c] = newcol
    df_lr_01.drop(c, axis=1, inplace=True)
    df_lr_01[c] = newcol
del df_lr_01['background']
df_lr_01 = df_lr_01.rename(columns={"Mean DSC":"All Classes"})

/home/carina/.local/lib/python3.8/site-packages/pandas/core/generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [52]:
df_lr_01

                            All classes             LV             RV  \

Augmentation lr   budget
RI/RD        0.01 64      0.245(±0.000)  0.000(±0.000)  0.000(±0.000)
                  128     0.272(±0.050)  0.071(±0.120)  0.026(±0.058)
                  592     0.438(±0.102)  0.436(±0.185)  0.160(±0.127)
                  960     0.481(±0.106)  0.446(±0.178)  0.208(±0.140)
                  1184    0.582(±0.132)  0.584(±0.217)  0.362(±0.189)
                  1424    0.628(±0.101)  0.677(±0.134)  0.391(±0.156)
                  1904    0.696(±0.156)  0.696(±0.227)  0.520(±0.222)
                  2384    0.780(±0.075)  0.806(±0.086)  0.673(±0.081)
                  3568    0.796(±0.108)  0.831(±0.095)  0.676(±0.179)
standard     0.01 64      0.245(±0.000)  0.000(±0.000)  0.000(±0.000)
                  128     0.263(±0.023)  0.057(±0.069)  0.010(±0.019)
                  592     0.527(±0.084)  0.498(±0.106)  0.272(±0.205)
                  960     0.613(±0.090)  0.627(±0.100)  0.411(±0.209)
                  1184    0.668(±0.098)  0.701(±0.139)  0.472(±0.223)
                  1424    0.682(±0.081)  0.707(±0.084)  0.497(±0.195)
                  1904    0.751(±0.081)  0.800(±0.081)  0.579(±0.191)
                  2384    0.823(±0.043)  0.869(±0.028)  0.698(±0.095)
                  3568    0.867(±0.026)  0.897(±0.015)  0.783(±0.034)

                                    MYO

Augmentation lr   budget
RI/RD        0.01 64      0.000(±0.000)
                  128     0.010(±0.023)
                  592     0.172(±0.154)
                  960     0.287(±0.125)
                  1184    0.396(±0.145)
                  1424    0.453(±0.140)
                  1904    0.578(±0.180)
                  2384    0.649(±0.132)
                  3568    0.683(±0.168)
standard     0.01 64      0.000(±0.000)
                  128     0.007(±0.010)
                  592     0.352(±0.067)
                  960     0.427(±0.057)
                  1184    0.508(±0.098)
                  1424    0.536(±0.075)
                  1904    0.632(±0.099)
                  2384    0.731(±0.074)
                  3568    0.791(±0.058)

In [53]:
print(df_lr_01.to_latex(index=True))

\begin{tabular}{lllllll}
\toprule
         &      &      &    All classes &             LV &             RV &            MYO \\
         &      &      \\
Augmentation & lr & budget &                &                &                &                \\
\midrule
RI/RD & 0.01 & 64 &  0.245(±0.000) &  0.000(±0.000) &  0.000(±0.000) &  0.000(±0.000) \\
         &      & 128 &  0.272(±0.050) &  0.071(±0.120) &  0.026(±0.058) &  0.010(±0.023) \\
         &      & 592 &  0.438(±0.102) &  0.436(±0.185) &  0.160(±0.127) &  0.172(±0.154) \\
         &      & 960 &  0.481(±0.106) &  0.446(±0.178) &  0.208(±0.140) &  0.287(±0.125) \\
         &      & 1184 &  0.582(±0.132) &  0.584(±0.217) &  0.362(±0.189) &  0.396(±0.145) \\
         &      & 1424 &  0.628(±0.101) &  0.677(±0.134) &  0.391(±0.156) &  0.453(±0.140) \\
         &      & 1904 &  0.696(±0.156) &  0.696(±0.227) &  0.520(±0.222) &  0.578(±0.180) \\
         &      & 2384 &  0.780(±0.075) &  0.806(±0.086) &  0.673(±0.081) &  0.649(±0.132) \\
         &      & 3568 &  0.796(±0.108) &  0.831(±0.095) &  0.676(±0.179) &  0.683(±0.168) \\
standard & 0.01 & 64 &  0.245(±0.000) &  0.000(±0.000) &  0.000(±0.000) &  0.000(±0.000) \\
         &      & 128 &  0.263(±0.023) &  0.057(±0.069) &  0.010(±0.019) &  0.007(±0.010) \\
         &      & 592 &  0.527(±0.084) &  0.498(±0.106) &  0.272(±0.205) &  0.352(±0.067) \\
         &      & 960 &  0.613(±0.090) &  0.627(±0.100) &  0.411(±0.209) &  0.427(±0.057) \\
         &      & 1184 &  0.668(±0.098) &  0.701(±0.139) &  0.472(±0.223) &  0.508(±0.098) \\
         &      & 1424 &  0.682(±0.081) &  0.707(±0.084) &  0.497(±0.195) &  0.536(±0.075) \\
         &      & 1904 &  0.751(±0.081) &  0.800(±0.081) &  0.579(±0.191) &  0.632(±0.099) \\
         &      & 2384 &  0.823(±0.043) &  0.869(±0.028) &  0.698(±0.095) &  0.731(±0.074) \\
         &      & 3568 &  0.867(±0.026) &  0.897(±0.015) &  0.783(±0.034) &  0.791(±0.058) \\
\bottomrule
\end{tabular}

In [64]:
df_lr_01

                            All classes             LV             RV  \

Augmentation lr   budget
RI/RD        0.01 64      0.245(±0.000)  0.000(±0.000)  0.000(±0.000)
                  128     0.272(±0.050)  0.071(±0.120)  0.026(±0.058)
                  592     0.438(±0.102)  0.436(±0.185)  0.160(±0.127)
                  960     0.481(±0.106)  0.446(±0.178)  0.208(±0.140)
                  1184    0.582(±0.132)  0.584(±0.217)  0.362(±0.189)
                  1424    0.628(±0.101)  0.677(±0.134)  0.391(±0.156)
                  1904    0.696(±0.156)  0.696(±0.227)  0.520(±0.222)
                  2384    0.780(±0.075)  0.806(±0.086)  0.673(±0.081)
                  3568    0.796(±0.108)  0.831(±0.095)  0.676(±0.179)
standard     0.01 64      0.245(±0.000)  0.000(±0.000)  0.000(±0.000)
                  128     0.263(±0.023)  0.057(±0.069)  0.010(±0.019)
                  592     0.527(±0.084)  0.498(±0.106)  0.272(±0.205)
                  960     0.613(±0.090)  0.627(±0.100)  0.411(±0.209)
                  1184    0.668(±0.098)  0.701(±0.139)  0.472(±0.223)
                  1424    0.682(±0.081)  0.707(±0.084)  0.497(±0.195)
                  1904    0.751(±0.081)  0.800(±0.081)  0.579(±0.191)
                  2384    0.823(±0.043)  0.869(±0.028)  0.698(±0.095)
                  3568    0.867(±0.026)  0.897(±0.015)  0.783(±0.034)

                                    MYO

Augmentation lr   budget
RI/RD        0.01 64      0.000(±0.000)
                  128     0.010(±0.023)
                  592     0.172(±0.154)
                  960     0.287(±0.125)
                  1184    0.396(±0.145)
                  1424    0.453(±0.140)
                  1904    0.578(±0.180)
                  2384    0.649(±0.132)
                  3568    0.683(±0.168)
standard     0.01 64      0.000(±0.000)
                  128     0.007(±0.010)
                  592     0.352(±0.067)
                  960     0.427(±0.057)
                  1184    0.508(±0.098)
                  1424    0.536(±0.075)
                  1904    0.632(±0.099)
                  2384    0.731(±0.074)
                  3568    0.791(±0.058)

In [67]:
print(df_lr_01.to_latex(index=True))

\begin{tabular}{lllllll}
\toprule
         &      &      &    All classes &             LV &             RV &            MYO \\
         &      &      \\
Augmentation & lr & budget &                &                &                &                \\
\midrule
RI/RD & 0.01 & 64 &  0.245(±0.000) &  0.000(±0.000) &  0.000(±0.000) &  0.000(±0.000) \\
         &      & 128 &  0.272(±0.050) &  0.071(±0.120) &  0.026(±0.058) &  0.010(±0.023) \\
         &      & 592 &  0.438(±0.102) &  0.436(±0.185) &  0.160(±0.127) &  0.172(±0.154) \\
         &      & 960 &  0.481(±0.106) &  0.446(±0.178) &  0.208(±0.140) &  0.287(±0.125) \\
         &      & 1184 &  0.582(±0.132) &  0.584(±0.217) &  0.362(±0.189) &  0.396(±0.145) \\
         &      & 1424 &  0.628(±0.101) &  0.677(±0.134) &  0.391(±0.156) &  0.453(±0.140) \\
         &      & 1904 &  0.696(±0.156) &  0.696(±0.227) &  0.520(±0.222) &  0.578(±0.180) \\
         &      & 2384 &  0.780(±0.075) &  0.806(±0.086) &  0.673(±0.081) &  0.649(±0.132) \\
         &      & 3568 &  0.796(±0.108) &  0.831(±0.095) &  0.676(±0.179) &  0.683(±0.168) \\
standard & 0.01 & 64 &  0.245(±0.000) &  0.000(±0.000) &  0.000(±0.000) &  0.000(±0.000) \\
         &      & 128 &  0.263(±0.023) &  0.057(±0.069) &  0.010(±0.019) &  0.007(±0.010) \\
         &      & 592 &  0.527(±0.084) &  0.498(±0.106) &  0.272(±0.205) &  0.352(±0.067) \\
         &      & 960 &  0.613(±0.090) &  0.627(±0.100) &  0.411(±0.209) &  0.427(±0.057) \\
         &      & 1184 &  0.668(±0.098) &  0.701(±0.139) &  0.472(±0.223) &  0.508(±0.098) \\
         &      & 1424 &  0.682(±0.081) &  0.707(±0.084) &  0.497(±0.195) &  0.536(±0.075) \\
         &      & 1904 &  0.751(±0.081) &  0.800(±0.081) &  0.579(±0.191) &  0.632(±0.099) \\
         &      & 2384 &  0.823(±0.043) &  0.869(±0.028) &  0.698(±0.095) &  0.731(±0.074) \\
         &      & 3568 &  0.867(±0.026) &  0.897(±0.015) &  0.783(±0.034) &  0.791(±0.058) \\
\bottomrule
\end{tabular}

In [54]:
df_lr_05 = pd.concat([df_img_rird_05, df_img_std_05])

In [55]:
cols = [i for i in df_lr_05.columns.values]
cols = np.unique(cols)
idx = [0,1,4,3,2]
cols = cols[idx]

In [56]:
cols

array(['All classes', 'LV', 'background', 'RV', 'MYO'], dtype='<U11')

In [57]:
df_new = pd.DataFrame(columns=cols)
for c in cols:
    means = df_lr_05[c]['mean'].values
    stds = df_lr_05[c]['std'].values
    newcol = [f'{mean:.3f}(±{std:.3f})' for mean, std in zip(means, stds)]
    df_new[c] = newcol
    df_lr_05.drop(c, axis=1, inplace=True)
    df_lr_05[c] = newcol
del df_lr_05['background']
df_lr_05 = df_lr_05.rename(columns={"Mean DSC":"All Classes"})

/home/carina/.local/lib/python3.8/site-packages/pandas/core/generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [58]:
df_lr_05

                            All classes             LV             RV  \

Augmentation lr   budget
RI/RD        0.05 64      0.256(±0.013)  0.036(±0.051)  0.003(±0.007)
                  128     0.269(±0.030)  0.081(±0.112)  0.007(±0.015)
                  592     0.425(±0.147)  0.309(±0.270)  0.267(±0.171)
                  960     0.629(±0.063)  0.672(±0.067)  0.485(±0.147)
                  1184    0.705(±0.068)  0.758(±0.062)  0.582(±0.088)
                  1424    0.645(±0.124)  0.698(±0.101)  0.520(±0.186)
                  1904    0.668(±0.252)  0.667(±0.377)  0.545(±0.315)
                  2384    0.730(±0.095)  0.770(±0.098)  0.627(±0.114)
                  3568    0.811(±0.094)  0.844(±0.085)  0.733(±0.106)
standard     0.05 64      0.255(±0.007)  0.042(±0.029)  0.000(±0.000)
                  128     0.263(±0.007)  0.041(±0.038)  0.023(±0.033)
                  592     0.405(±0.136)  0.350(±0.214)  0.148(±0.174)
                  960     0.460(±0.181)  0.413(±0.314)  0.262(±0.232)
                  1184    0.601(±0.148)  0.580(±0.186)  0.439(±0.204)
                  1424    0.563(±0.143)  0.551(±0.228)  0.339(±0.171)
                  1904    0.733(±0.134)  0.789(±0.101)  0.563(±0.234)
                  2384    0.756(±0.117)  0.788(±0.107)  0.643(±0.180)
                  3568    0.812(±0.090)  0.845(±0.089)  0.729(±0.098)

                                    MYO

Augmentation lr   budget
RI/RD        0.05 64      0.013(±0.020)
                  128     0.009(±0.020)
                  592     0.150(±0.161)
                  960     0.370(±0.083)
                  1184    0.490(±0.133)
                  1424    0.371(±0.230)
                  1904    0.468(±0.335)
                  2384    0.530(±0.173)
                  3568    0.674(±0.183)
standard     0.05 64      0.000(±0.001)
                  128     0.010(±0.016)
                  592     0.138(±0.195)
                  960     0.179(±0.203)
                  1184    0.396(±0.212)
                  1424    0.374(±0.177)
                  1904    0.587(±0.202)
                  2384    0.601(±0.188)
                  3568    0.682(±0.186)

In [68]:
print(df_lr_05.to_latex(index=True))

\begin{tabular}{lllllll}
\toprule
         &      &      &    All classes &             LV &             RV &            MYO \\
         &      &      \\
Augmentation & lr & budget &                &                &                &                \\
\midrule
RI/RD & 0.05 & 64 &  0.256(±0.013) &  0.036(±0.051) &  0.003(±0.007) &  0.013(±0.020) \\
         &      & 128 &  0.269(±0.030) &  0.081(±0.112) &  0.007(±0.015) &  0.009(±0.020) \\
         &      & 592 &  0.425(±0.147) &  0.309(±0.270) &  0.267(±0.171) &  0.150(±0.161) \\
         &      & 960 &  0.629(±0.063) &  0.672(±0.067) &  0.485(±0.147) &  0.370(±0.083) \\
         &      & 1184 &  0.705(±0.068) &  0.758(±0.062) &  0.582(±0.088) &  0.490(±0.133) \\
         &      & 1424 &  0.645(±0.124) &  0.698(±0.101) &  0.520(±0.186) &  0.371(±0.230) \\
         &      & 1904 &  0.668(±0.252) &  0.667(±0.377) &  0.545(±0.315) &  0.468(±0.335) \\
         &      & 2384 &  0.730(±0.095) &  0.770(±0.098) &  0.627(±0.114) &  0.530(±0.173) \\
         &      & 3568 &  0.811(±0.094) &  0.844(±0.085) &  0.733(±0.106) &  0.674(±0.183) \\
standard & 0.05 & 64 &  0.255(±0.007) &  0.042(±0.029) &  0.000(±0.000) &  0.000(±0.001) \\
         &      & 128 &  0.263(±0.007) &  0.041(±0.038) &  0.023(±0.033) &  0.010(±0.016) \\
         &      & 592 &  0.405(±0.136) &  0.350(±0.214) &  0.148(±0.174) &  0.138(±0.195) \\
         &      & 960 &  0.460(±0.181) &  0.413(±0.314) &  0.262(±0.232) &  0.179(±0.203) \\
         &      & 1184 &  0.601(±0.148) &  0.580(±0.186) &  0.439(±0.204) &  0.396(±0.212) \\
         &      & 1424 &  0.563(±0.143) &  0.551(±0.228) &  0.339(±0.171) &  0.374(±0.177) \\
         &      & 1904 &  0.733(±0.134) &  0.789(±0.101) &  0.563(±0.234) &  0.587(±0.202) \\
         &      & 2384 &  0.756(±0.117) &  0.788(±0.107) &  0.643(±0.180) &  0.601(±0.188) \\
         &      & 3568 &  0.812(±0.090) &  0.845(±0.089) &  0.729(±0.098) &  0.682(±0.186) \\
\bottomrule
\end{tabular}

In [ ]:
df_lr_05

In [59]:
df_lr_aug = pd.concat([df_lr_05, df_lr_01])

In [60]:
df_lr_aug

                            All classes             LV             RV  \

Augmentation lr   budget
RI/RD        0.05 64      0.256(±0.013)  0.036(±0.051)  0.003(±0.007)
                  128     0.269(±0.030)  0.081(±0.112)  0.007(±0.015)
                  592     0.425(±0.147)  0.309(±0.270)  0.267(±0.171)
                  960     0.629(±0.063)  0.672(±0.067)  0.485(±0.147)
                  1184    0.705(±0.068)  0.758(±0.062)  0.582(±0.088)
                  1424    0.645(±0.124)  0.698(±0.101)  0.520(±0.186)
                  1904    0.668(±0.252)  0.667(±0.377)  0.545(±0.315)
                  2384    0.730(±0.095)  0.770(±0.098)  0.627(±0.114)
                  3568    0.811(±0.094)  0.844(±0.085)  0.733(±0.106)
standard     0.05 64      0.255(±0.007)  0.042(±0.029)  0.000(±0.000)
                  128     0.263(±0.007)  0.041(±0.038)  0.023(±0.033)
                  592     0.405(±0.136)  0.350(±0.214)  0.148(±0.174)
                  960     0.460(±0.181)  0.413(±0.314)  0.262(±0.232)
                  1184    0.601(±0.148)  0.580(±0.186)  0.439(±0.204)
                  1424    0.563(±0.143)  0.551(±0.228)  0.339(±0.171)
                  1904    0.733(±0.134)  0.789(±0.101)  0.563(±0.234)
                  2384    0.756(±0.117)  0.788(±0.107)  0.643(±0.180)
                  3568    0.812(±0.090)  0.845(±0.089)  0.729(±0.098)
RI/RD        0.01 64      0.245(±0.000)  0.000(±0.000)  0.000(±0.000)
                  128     0.272(±0.050)  0.071(±0.120)  0.026(±0.058)
                  592     0.438(±0.102)  0.436(±0.185)  0.160(±0.127)
                  960     0.481(±0.106)  0.446(±0.178)  0.208(±0.140)
                  1184    0.582(±0.132)  0.584(±0.217)  0.362(±0.189)
                  1424    0.628(±0.101)  0.677(±0.134)  0.391(±0.156)
                  1904    0.696(±0.156)  0.696(±0.227)  0.520(±0.222)
                  2384    0.780(±0.075)  0.806(±0.086)  0.673(±0.081)
                  3568    0.796(±0.108)  0.831(±0.095)  0.676(±0.179)
standard     0.01 64      0.245(±0.000)  0.000(±0.000)  0.000(±0.000)
                  128     0.263(±0.023)  0.057(±0.069)  0.010(±0.019)
                  592     0.527(±0.084)  0.498(±0.106)  0.272(±0.205)
                  960     0.613(±0.090)  0.627(±0.100)  0.411(±0.209)
                  1184    0.668(±0.098)  0.701(±0.139)  0.472(±0.223)
                  1424    0.682(±0.081)  0.707(±0.084)  0.497(±0.195)
                  1904    0.751(±0.081)  0.800(±0.081)  0.579(±0.191)
                  2384    0.823(±0.043)  0.869(±0.028)  0.698(±0.095)
                  3568    0.867(±0.026)  0.897(±0.015)  0.783(±0.034)

                                    MYO

Augmentation lr   budget
RI/RD        0.05 64      0.013(±0.020)
                  128     0.009(±0.020)
                  592     0.150(±0.161)
                  960     0.370(±0.083)
                  1184    0.490(±0.133)
                  1424    0.371(±0.230)
                  1904    0.468(±0.335)
                  2384    0.530(±0.173)
                  3568    0.674(±0.183)
standard     0.05 64      0.000(±0.001)
                  128     0.010(±0.016)
                  592     0.138(±0.195)
                  960     0.179(±0.203)
                  1184    0.396(±0.212)
                  1424    0.374(±0.177)
                  1904    0.587(±0.202)
                  2384    0.601(±0.188)
                  3568    0.682(±0.186)
RI/RD        0.01 64      0.000(±0.000)
                  128     0.010(±0.023)
                  592     0.172(±0.154)
                  960     0.287(±0.125)
                  1184    0.396(±0.145)
                  1424    0.453(±0.140)
                  1904    0.578(±0.180)
                  2384    0.649(±0.132)
                  3568    0.683(±0.168)
standard     0.01 64      0.000(±0.000)
                  128     0.007(±0.010)
                  592     0.352(±0.067)
                  960     0.427(±0.057)
                  1184    0.508(±0.098)
                  1424    0.536(±0.075)
                  1904    0.632(±0.099)
                  2384    0.731(±0.074)
                  3568    0.791(±0.058)

In [61]:
print(df_lr_aug.to_latex(index=True))

\begin{tabular}{lllllll}
\toprule
         &      &      &    All classes &             LV &             RV &            MYO \\
         &      &      \\
Augmentation & lr & budget &                &                &                &                \\
\midrule
RI/RD & 0.05 & 64 &  0.256(±0.013) &  0.036(±0.051) &  0.003(±0.007) &  0.013(±0.020) \\
         &      & 128 &  0.269(±0.030) &  0.081(±0.112) &  0.007(±0.015) &  0.009(±0.020) \\
         &      & 592 &  0.425(±0.147) &  0.309(±0.270) &  0.267(±0.171) &  0.150(±0.161) \\
         &      & 960 &  0.629(±0.063) &  0.672(±0.067) &  0.485(±0.147) &  0.370(±0.083) \\
         &      & 1184 &  0.705(±0.068) &  0.758(±0.062) &  0.582(±0.088) &  0.490(±0.133) \\
         &      & 1424 &  0.645(±0.124) &  0.698(±0.101) &  0.520(±0.186) &  0.371(±0.230) \\
         &      & 1904 &  0.668(±0.252) &  0.667(±0.377) &  0.545(±0.315) &  0.468(±0.335) \\
         &      & 2384 &  0.730(±0.095) &  0.770(±0.098) &  0.627(±0.114) &  0.530(±0.173) \\
         &      & 3568 &  0.811(±0.094) &  0.844(±0.085) &  0.733(±0.106) &  0.674(±0.183) \\
standard & 0.05 & 64 &  0.255(±0.007) &  0.042(±0.029) &  0.000(±0.000) &  0.000(±0.001) \\
         &      & 128 &  0.263(±0.007) &  0.041(±0.038) &  0.023(±0.033) &  0.010(±0.016) \\
         &      & 592 &  0.405(±0.136) &  0.350(±0.214) &  0.148(±0.174) &  0.138(±0.195) \\
         &      & 960 &  0.460(±0.181) &  0.413(±0.314) &  0.262(±0.232) &  0.179(±0.203) \\
         &      & 1184 &  0.601(±0.148) &  0.580(±0.186) &  0.439(±0.204) &  0.396(±0.212) \\
         &      & 1424 &  0.563(±0.143) &  0.551(±0.228) &  0.339(±0.171) &  0.374(±0.177) \\
         &      & 1904 &  0.733(±0.134) &  0.789(±0.101) &  0.563(±0.234) &  0.587(±0.202) \\
         &      & 2384 &  0.756(±0.117) &  0.788(±0.107) &  0.643(±0.180) &  0.601(±0.188) \\
         &      & 3568 &  0.812(±0.090) &  0.845(±0.089) &  0.729(±0.098) &  0.682(±0.186) \\
RI/RD & 0.01 & 64 &  0.245(±0.000) &  0.000(±0.000) &  0.000(±0.000) &  0.000(±0.000) \\
         &      & 128 &  0.272(±0.050) &  0.071(±0.120) &  0.026(±0.058) &  0.010(±0.023) \\
         &      & 592 &  0.438(±0.102) &  0.436(±0.185) &  0.160(±0.127) &  0.172(±0.154) \\
         &      & 960 &  0.481(±0.106) &  0.446(±0.178) &  0.208(±0.140) &  0.287(±0.125) \\
         &      & 1184 &  0.582(±0.132) &  0.584(±0.217) &  0.362(±0.189) &  0.396(±0.145) \\
         &      & 1424 &  0.628(±0.101) &  0.677(±0.134) &  0.391(±0.156) &  0.453(±0.140) \\
         &      & 1904 &  0.696(±0.156) &  0.696(±0.227) &  0.520(±0.222) &  0.578(±0.180) \\
         &      & 2384 &  0.780(±0.075) &  0.806(±0.086) &  0.673(±0.081) &  0.649(±0.132) \\
         &      & 3568 &  0.796(±0.108) &  0.831(±0.095) &  0.676(±0.179) &  0.683(±0.168) \\
standard & 0.01 & 64 &  0.245(±0.000) &  0.000(±0.000) &  0.000(±0.000) &  0.000(±0.000) \\
         &      & 128 &  0.263(±0.023) &  0.057(±0.069) &  0.010(±0.019) &  0.007(±0.010) \\
         &      & 592 &  0.527(±0.084) &  0.498(±0.106) &  0.272(±0.205) &  0.352(±0.067) \\
         &      & 960 &  0.613(±0.090) &  0.627(±0.100) &  0.411(±0.209) &  0.427(±0.057) \\
         &      & 1184 &  0.668(±0.098) &  0.701(±0.139) &  0.472(±0.223) &  0.508(±0.098) \\
         &      & 1424 &  0.682(±0.081) &  0.707(±0.084) &  0.497(±0.195) &  0.536(±0.075) \\
         &      & 1904 &  0.751(±0.081) &  0.800(±0.081) &  0.579(±0.191) &  0.632(±0.099) \\
         &      & 2384 &  0.823(±0.043) &  0.869(±0.028) &  0.698(±0.095) &  0.731(±0.074) \\
         &      & 3568 &  0.867(±0.026) &  0.897(±0.015) &  0.783(±0.034) &  0.791(±0.058) \\
\bottomrule
\end{tabular}

In [ ]:
print(imgNet_Aug_lr.to_latex(index=True))

In [ ]:
print(mean_frame.to_latex(index=False))

In [ ]:
print(frame_new.to_latex(index=False))

In [ ]:
df_img_std_05