In [31]:
from scipy.stats import ttest_ind_from_stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

T-test for means of two independent samples from descriptive statistics.
This is a two-sided test for the null hypothesis that two independent samples have identical average (expected) values

In [32]:
ralis_means = np.array([0.538, 0.666, 0.806, 0.860, 0.876, 0.885, 0.903, 0.909, 0.909])

In [33]:
ralis_std = np.array([0.167, 0.036, 0.013, 0.008, 0.011, 0.007, 0.004, 0.002, 0.004])

In [34]:
bald_means = np.array([0.601, 0.697, 0.823, 0.859, 0.873, 0.882, 0.900, 0.909, 0.909])

In [35]:
bald_std = np.array([0.105, 0.073, 0.018, 0.011, 0.014, 0.012, 0.005, 0.002, 0.004])

In [36]:
entropy_mean = np.array([0.383, 0.610, 0.819, 0.840, 0.860, 0.878, 0.890, 0.908, 0.913])
entropy_std = np.array([0.158, 0.064, 0.018, 0.027, 0.014, 0.005, 0.011, 0.002, 0.002])

In [37]:
budget = [64, 128, 592, 960, 1184, 1424, 1904, 2384, 3568]

In [38]:
pd.options.display.float_format = "{:,.3f}".format

In [40]:
ttest_ralis_bald_result = ttest_ind_from_stats(mean1=ralis_means, std1=ralis_std, nobs1=9, mean2=bald_means, std2=bald_std, nobs2=9, equal_var=True)

In [41]:
ttest_ralis_bald_result

Ttest_indResult(statistic=array([-0.95809565, -1.14258892, -2.29692448,  0.22056439,  0.50549036,
        0.64783418,  1.40556386,  0.        ,  0.        ]), pvalue=array([0.35226923, 0.27001951, 0.03545922, 0.82822148, 0.6201067 ,
       0.52627999, 0.17897433, 1.        , 1.        ]))

In [42]:
ttest_ralis_entropy_result = ttest_ind_from_stats(mean1=ralis_means, std1=ralis_std, nobs1=9, mean2=entropy_mean, std2=entropy_std, nobs2=9, equal_var=False)

In [43]:
ttest_ralis_entropy_result

Ttest_indResult(statistic=array([ 2.02263786,  2.28788578, -1.75647166,  2.13066247,  2.69594859,
        2.44120041,  3.33199487,  1.06066017, -2.68328157]), pvalue=array([0.06020759, 0.04012386, 0.10001028, 0.06069502, 0.01648172,
       0.02802193, 0.00751178, 0.30459362, 0.02021392]))

In [44]:
alpha = 0.01
for p in ttest_ralis_entropy_result[1]:
    if p > alpha:
        print('Accept null hypothesis that the means are equal.')
    else:
        print('Reject the null hypothesis that the means are equal.')

Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.
Reject the null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.

In [45]:
t_statistics = ttest_result[0]

NameError: name 'ttest_result' is not defined

In [46]:
p_values = ttest_result[1]

NameError: name 'ttest_result' is not defined

In [17]:
alpha = 0.05

In [18]:
for p in ttest_ralis_bald_result[1]:
    if p > alpha:
        print('Accept null hypothesis that the means are equal.')
    else:
        print('Reject the null hypothesis that the means are equal.')

Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.
Reject the null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.

In [ ]:
budget

In [ ]:
budget = np.array(budget)

In [ ]:
ttest_ralis_bald_t = np.array(ttest_ralis_bald_result[0])

In [ ]:
ttest_ralis_bald_t  =pd.DataFrame(ttest_ralis_bald_t)

In [ ]:
ttest_ralis_bald_p = np.array(ttest_ralis_bald_result[1])
ttest_ralis_bald_p = pd.DataFrame(ttest_ralis_bald_p)

In [ ]:
frames = [ttest_ralis_bald_t, ttest_ralis_bald_p]

In [ ]:
ttest_ralis_bald_p.values

In [ ]:
result = pd.concat(frames)

In [ ]:
result

In [ ]:
pd.DataFrame(ttest_ralis_bald_t, ttest_ralis_bald_p, columns=['64', '128', '592', '960', '1184', '1424', '1904', '2384', '3568'])

In [ ]:
df_budget = pd.DataFrame(lst)

In [ ]:
plt.plot(t_statistics)

In [ ]:
plt.plot(p_values)

In [ ]:
from scipy import stats

In [ ]:
stats.shapiro(ralis_means)

In [ ]:
stats.wilcoxon(ralis_means,bald_means)