In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
# read log file from test baslines

In [3]:
# path to logs
path = '/mnt/qb/baumgartner/cschmidt77_data/exp2_3Devaluation_baseline/'

In [4]:
exp_2_acdc_baselines = os.listdir(path)

In [5]:
exp_2_acdc_baselines = [exp for exp in exp_2_acdc_baselines]

In [6]:
exp_2_acdc_baselines

['2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed123_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed123_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed123_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed123_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed123_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed123_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed123_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed123_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed123_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed20_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed20_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed20_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed20_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed20_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed20_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed20_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed20_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed20_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed234_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed234_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed234_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed234_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed234_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed234_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed234_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed234_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed234_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed55_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed55_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed55_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed55_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed55_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed55_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed55_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed55_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed55_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed77_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed77_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed77_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed77_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed77_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed77_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed77_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed77_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_bald_seed77_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed123_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed123_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed123_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed123_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed123_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed123_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed123_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed123_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed123_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed20_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed20_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed20_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed20_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed20_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed20_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed20_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed20_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed20_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed234_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed234_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed234_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed234_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed234_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed234_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed234_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed234_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed234_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed55_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed55_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed55_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed55_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed55_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed55_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed55_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed55_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed55_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed77_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed77_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed77_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed77_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed77_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed77_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed77_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed77_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_entropy_seed77_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed123_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed123_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed123_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed123_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed123_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed123_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed123_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed123_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed123_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed20_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed20_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed20_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed20_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed20_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed20_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed20_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed20_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed20_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed234_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed234_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed234_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed234_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed234_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed234_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed234_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed234_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed234_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed55_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed55_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed55_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed55_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed55_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed55_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed55_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed55_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed55_budget_960',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed77_budget_1184',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed77_budget_128',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed77_budget_1424',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed77_budget_1904',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed77_budget_2384',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed77_budget_3568',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed77_budget_592',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed77_budget_64',
 '2021-10-20-acdc_ImageNetBackbone_baseline_random_seed77_budget_960']

In [7]:
data_frame_lists = []
for exp in exp_2_acdc_baselines: 
    exp_path = path + exp + '/Mean_3D_DSC.txt'
    if os.path.isfile(exp_path): 
        names = ["All classes", "background", "RV", "MYO", "LV", "Experiment", "seed", "budget"]
        data = pd.read_csv(exp_path, nrows=1, skiprows=1, names=names, sep ='\t')
        data["Experiment"] = exp
        data = data[["Experiment", "seed", "budget", "All classes", "background", "RV", "MYO", "LV"]]
        data['al-algo'] = exp.split('_')[-4]
        data['budget'] = exp.split('_')[-1]    
        data['seed'] = exp.split('seed')[1].split('_')[0]
        data_frame_lists.append(data)

frame = pd.concat(data_frame_lists, axis=0, ignore_index=True)

In [8]:
frame

,Experiment,seed,budget,All classes,background,RV,MYO,LV,al-algo
0,2021-10-20-acdc_ImageNetBackbone_baseline_bald...,123,1184,0.814935,0.994531,0.700654,0.698060,0.866496,bald
1,2021-10-20-acdc_ImageNetBackbone_baseline_bald...,123,128,0.249893,0.979689,0.000000,0.000000,0.019882,bald
2,2021-10-20-acdc_ImageNetBackbone_baseline_bald...,123,1424,0.627051,0.988533,0.529896,0.302436,0.687339,bald
3,2021-10-20-acdc_ImageNetBackbone_baseline_bald...,123,1904,0.868282,0.995558,0.793833,0.787752,0.895984,bald
4,2021-10-20-acdc_ImageNetBackbone_baseline_bald...,123,2384,0.896489,0.996984,0.842596,0.832236,0.914139,bald
...,...,...,...,...,...,...,...,...,...
130,2021-10-20-acdc_ImageNetBackbone_baseline_rand...,77,2384,0.561433,0.986025,0.235983,0.391811,0.631913,random
131,2021-10-20-acdc_ImageNetBackbone_baseline_rand...,77,3568,0.633170,0.987605,0.384383,0.518232,0.642460,random
132,2021-10-20-acdc_ImageNetBackbone_baseline_rand...,77,592,0.387022,0.982146,0.139141,0.146189,0.280613,random
133,2021-10-20-acdc_ImageNetBackbone_baseline_rand...,77,64,0.294101,0.980575,0.050242,0.014742,0.130846,random
134,2021-10-20-acdc_ImageNetBackbone_baseline_rand...,77,960,0.421570,0.982660,0.232375,0.190847,0.280398,random

In [9]:
frame_new = frame.drop(columns="Experiment")

In [10]:
pd.options.display.float_format = "{:,.3f}".format

In [11]:
frame_new.sort_values(by=['All classes'], ascending=False)

   seed budget  All classes  background    RV   MYO    LV  al-algo
59   20   3568        0.914       0.998 0.865 0.862 0.932  entropy
50  123   3568        0.913       0.998 0.867 0.856 0.933  entropy
85   77   2384        0.913       0.998 0.863 0.860 0.933  entropy
49  123   2384        0.913       0.998 0.868 0.860 0.927  entropy
86   77   3568        0.909       0.997 0.856 0.856 0.929  entropy
..  ...    ...          ...         ...   ...   ...   ...      ...
70  234     64        0.251       0.947 0.003 0.011 0.042  entropy
1   123    128        0.250       0.980 0.000 0.000 0.020     bald
96  123    592        0.245       0.980 0.001 0.000 0.000   random
64  234    128        0.245       0.978 0.000 0.002 0.000  entropy
10   20    128        0.245       0.980 0.000 0.000 0.000     bald

[135 rows x 8 columns]

In [12]:
frame_new['budget']

0      1184
1       128
2      1424
3      1904
4      2384
       ...
130    2384
131    3568
132     592
133      64
134     960
Name: budget, Length: 135, dtype: object

## BALD

In [13]:
for budget in frame_new['budget'].unique():
    # create data frames for different budgets names e.g. imgStd01_budget_128
    df_img_bald = frame_new.loc[(frame_new['al-algo'] == 'bald') & (frame_new['budget'] == budget)]
    globals()['img_bald_%s' % budget] = df_img_bald.groupby(['budget']).agg({'All classes': ['mean', 'std'], 'background': ['mean', 'std'],
                                                          'RV':['mean', 'std'], 'MYO':['mean', 'std'], 'LV':['mean', 'std']})

In [14]:
img_bald_128

       All classes       background          RV         MYO          LV
              mean   std       mean   std  mean   std  mean   std  mean   std
budget
128          0.272 0.036      0.980 0.001 0.027 0.050 0.012 0.026 0.069 0.074

## Entropy

In [15]:
for budget in frame_new['budget'].unique():
    # create data frames for different budgets names e.g. imgStd01_budget_128
    df_img_entropy = frame_new.loc[(frame_new['al-algo'] == 'entropy') & (frame_new['budget'] == budget)]
    globals()['img_entropy_%s' % budget] = df_img_entropy.groupby(['budget']).agg({'All classes': ['mean', 'std'], 'background': ['mean', 'std'],
                                                          'RV':['mean', 'std'], 'MYO':['mean', 'std'], 'LV':['mean', 'std']})

In [16]:
img_entropy_128

       All classes       background          RV         MYO          LV
              mean   std       mean   std  mean   std  mean   std  mean   std
budget
128          0.557 0.188      0.987 0.005 0.401 0.247 0.331 0.205 0.510 0.306

## Random

In [17]:
for budget in frame_new['budget'].unique():
    # create data frames for different budgets names e.g. imgStd01_budget_128
    df_img_random = frame_new.loc[(frame_new['al-algo'] == 'random') & (frame_new['budget'] == budget)]
    globals()['img_random_%s' % budget] = df_img_random.groupby(['budget']).agg({'All classes': ['mean', 'std'], 'background': ['mean', 'std'],
                                                          'RV':['mean', 'std'], 'MYO':['mean', 'std'], 'LV':['mean', 'std']})

In [18]:
img_random_128

       All classes       background          RV         MYO          LV
              mean   std       mean   std  mean   std  mean   std  mean   std
budget
128          0.319 0.035      0.981 0.001 0.079 0.078 0.030 0.033 0.186 0.063

## Concatenated for al-algorithms

In [19]:
# budgets 64 128 592 960 1184 1424 1904 2384 3568

In [20]:
budgets = frame_new['budget'].unique()

In [21]:
budgets

array(['1184', '128', '1424', '1904', '2384', '3568', '592', '64', '960'],
      dtype=object)

## Random

In [22]:
df_img_random = pd.concat([img_random_64, img_random_128, img_random_592,
                           img_random_960, img_random_1184, img_random_1424,
                           img_random_1904, img_random_2384, img_random_3568])

In [23]:
df_img_random

       All classes       background          RV         MYO          LV
              mean   std       mean   std  mean   std  mean   std  mean   std
budget
64           0.281 0.025      0.980 0.000 0.017 0.021 0.003 0.006 0.121 0.102
128          0.319 0.035      0.981 0.001 0.079 0.078 0.030 0.033 0.186 0.063
592          0.354 0.084      0.982 0.002 0.112 0.081 0.106 0.082 0.217 0.174
960          0.417 0.085      0.983 0.002 0.209 0.175 0.184 0.058 0.293 0.134
1184         0.437 0.030      0.983 0.000 0.272 0.053 0.170 0.064 0.322 0.028
1424         0.422 0.046      0.983 0.001 0.211 0.088 0.178 0.066 0.317 0.081
1904         0.521 0.075      0.985 0.002 0.335 0.154 0.334 0.133 0.430 0.147
2384         0.553 0.065      0.986 0.001 0.364 0.175 0.338 0.083 0.524 0.066
3568         0.644 0.069      0.988 0.002 0.539 0.185 0.426 0.107 0.624 0.079

## Entropy

In [24]:
df_img_entropy = pd.concat([img_entropy_64, img_entropy_128, img_entropy_592,
                           img_entropy_960, img_entropy_1184, img_entropy_1424,
                           img_entropy_1904, img_entropy_2384, img_entropy_3568])

In [25]:
df_img_entropy

       All classes       background          RV         MYO          LV
              mean   std       mean   std  mean   std  mean   std  mean   std
budget
64           0.413 0.137      0.977 0.017 0.245 0.235 0.096 0.126 0.334 0.218
128          0.557 0.188      0.987 0.005 0.401 0.247 0.331 0.205 0.510 0.306
592          0.817 0.020      0.994 0.001 0.776 0.031 0.659 0.034 0.839 0.020
960          0.843 0.024      0.995 0.001 0.787 0.053 0.717 0.031 0.872 0.025
1184         0.873 0.007      0.996 0.000 0.819 0.019 0.774 0.011 0.905 0.006
1424         0.871 0.016      0.996 0.001 0.818 0.019 0.766 0.034 0.902 0.012
1904         0.887 0.017      0.997 0.001 0.837 0.015 0.803 0.039 0.911 0.017
2384         0.909 0.005      0.997 0.000 0.859 0.009 0.851 0.008 0.927 0.004
3568         0.909 0.005      0.997 0.000 0.857 0.011 0.855 0.006 0.927 0.006

## BALD

In [26]:
df_img_bald = pd.concat([img_bald_64, img_bald_128, img_bald_592,
                           img_bald_960, img_bald_1184, img_bald_1424,
                           img_bald_1904, img_bald_2384, img_bald_3568])

In [27]:
df_img_bald

       All classes       background          RV         MYO          LV
              mean   std       mean   std  mean   std  mean   std  mean   std
budget
64           0.302 0.082      0.975 0.008 0.069 0.132 0.038 0.047 0.127 0.155
128          0.272 0.036      0.980 0.001 0.027 0.050 0.012 0.026 0.069 0.074
592          0.483 0.078      0.985 0.002 0.297 0.151 0.160 0.150 0.489 0.074
960          0.603 0.150      0.988 0.004 0.437 0.226 0.374 0.183 0.614 0.213
1184         0.624 0.150      0.989 0.004 0.471 0.227 0.373 0.227 0.661 0.173
1424         0.754 0.102      0.993 0.003 0.665 0.112 0.556 0.210 0.804 0.088
1904         0.819 0.088      0.994 0.003 0.750 0.109 0.675 0.173 0.859 0.070
2384         0.756 0.121      0.994 0.003 0.718 0.107 0.524 0.266 0.789 0.110
3568         0.828 0.098      0.995 0.003 0.747 0.131 0.717 0.169 0.854 0.090

## Concatenate all al-algos

In [39]:
df_img_al_algos = pd.concat([df_img_random, df_img_bald, df_img_entropy], keys=["random", "bald", "entropy"])

In [40]:
df_img_al_algos

               All classes       background          RV         MYO        \
                      mean   std       mean   std  mean   std  mean   std
        budget
random  64           0.281 0.025      0.980 0.000 0.017 0.021 0.003 0.006
        128          0.319 0.035      0.981 0.001 0.079 0.078 0.030 0.033
        592          0.354 0.084      0.982 0.002 0.112 0.081 0.106 0.082
        960          0.417 0.085      0.983 0.002 0.209 0.175 0.184 0.058
        1184         0.437 0.030      0.983 0.000 0.272 0.053 0.170 0.064
        1424         0.422 0.046      0.983 0.001 0.211 0.088 0.178 0.066
        1904         0.521 0.075      0.985 0.002 0.335 0.154 0.334 0.133
        2384         0.553 0.065      0.986 0.001 0.364 0.175 0.338 0.083
        3568         0.644 0.069      0.988 0.002 0.539 0.185 0.426 0.107
bald    64           0.302 0.082      0.975 0.008 0.069 0.132 0.038 0.047
        128          0.272 0.036      0.980 0.001 0.027 0.050 0.012 0.026
        592          0.483 0.078      0.985 0.002 0.297 0.151 0.160 0.150
        960          0.603 0.150      0.988 0.004 0.437 0.226 0.374 0.183
        1184         0.624 0.150      0.989 0.004 0.471 0.227 0.373 0.227
        1424         0.754 0.102      0.993 0.003 0.665 0.112 0.556 0.210
        1904         0.819 0.088      0.994 0.003 0.750 0.109 0.675 0.173
        2384         0.756 0.121      0.994 0.003 0.718 0.107 0.524 0.266
        3568         0.828 0.098      0.995 0.003 0.747 0.131 0.717 0.169
entropy 64           0.413 0.137      0.977 0.017 0.245 0.235 0.096 0.126
        128          0.557 0.188      0.987 0.005 0.401 0.247 0.331 0.205
        592          0.817 0.020      0.994 0.001 0.776 0.031 0.659 0.034
        960          0.843 0.024      0.995 0.001 0.787 0.053 0.717 0.031
        1184         0.873 0.007      0.996 0.000 0.819 0.019 0.774 0.011
        1424         0.871 0.016      0.996 0.001 0.818 0.019 0.766 0.034
        1904         0.887 0.017      0.997 0.001 0.837 0.015 0.803 0.039
        2384         0.909 0.005      0.997 0.000 0.859 0.009 0.851 0.008
        3568         0.909 0.005      0.997 0.000 0.857 0.011 0.855 0.006

                  LV
                mean   std
        budget
random  64     0.121 0.102
        128    0.186 0.063
        592    0.217 0.174
        960    0.293 0.134
        1184   0.322 0.028
        1424   0.317 0.081
        1904   0.430 0.147
        2384   0.524 0.066
        3568   0.624 0.079
bald    64     0.127 0.155
        128    0.069 0.074
        592    0.489 0.074
        960    0.614 0.213
        1184   0.661 0.173
        1424   0.804 0.088
        1904   0.859 0.070
        2384   0.789 0.110
        3568   0.854 0.090
entropy 64     0.334 0.218
        128    0.510 0.306
        592    0.839 0.020
        960    0.872 0.025
        1184   0.905 0.006
        1424   0.902 0.012
        1904   0.911 0.017
        2384   0.927 0.004
        3568   0.927 0.006

In [44]:
cols = [i for i in df_img_al_algos.columns.values]
cols = np.unique(cols)
print("cols: ", cols)
#cols = np.unique(cols)
idx = [0,1,3,4,2]
cols = cols[idx]

cols:  ['All classes' 'LV' 'MYO' 'RV' 'background' 'mean' 'std']

In [45]:
df_new = pd.DataFrame(columns=cols)
for c in cols:
    means = df_img_al_algos[c]['mean'].values
    stds = df_img_al_algos[c]['std'].values
    newcol = [f'{mean:.3f}(±{std:.3f})' for mean, std in zip(means, stds)]
    df_new[c] = newcol
    #df_lr_01.drop(c, axis=1, inplace=True)
    #df_lr_01[c] = newcol
    
df_new = pd.DataFrame(columns=cols)
for c in cols:
    means = df_img_al_algos[c]['mean'].values
    stds = df_img_al_algos[c]['std'].values
    newcol = [f'{mean:.3f}(±{std:.3f})' for mean, std in zip(means, stds)]
    df_new[c] = newcol
    df_img_al_algos.drop(c, axis=1, inplace=True)
    df_img_al_algos[c] = newcol
del df_img_al_algos['background']
#df_lr_01 = df_lr_01.rename(columns={"Mean DSC":"All Classes"})

/home/carina/.local/lib/python3.8/site-packages/pandas/core/generic.py:4153: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [46]:
df_img_al_algos

                  All classes             LV             RV            MYO

        budget
random  64      0.281(±0.025)  0.121(±0.102)  0.017(±0.021)  0.003(±0.006)
        128     0.319(±0.035)  0.186(±0.063)  0.079(±0.078)  0.030(±0.033)
        592     0.354(±0.084)  0.217(±0.174)  0.112(±0.081)  0.106(±0.082)
        960     0.417(±0.085)  0.293(±0.134)  0.209(±0.175)  0.184(±0.058)
        1184    0.437(±0.030)  0.322(±0.028)  0.272(±0.053)  0.170(±0.064)
        1424    0.422(±0.046)  0.317(±0.081)  0.211(±0.088)  0.178(±0.066)
        1904    0.521(±0.075)  0.430(±0.147)  0.335(±0.154)  0.334(±0.133)
        2384    0.553(±0.065)  0.524(±0.066)  0.364(±0.175)  0.338(±0.083)
        3568    0.644(±0.069)  0.624(±0.079)  0.539(±0.185)  0.426(±0.107)
bald    64      0.302(±0.082)  0.127(±0.155)  0.069(±0.132)  0.038(±0.047)
        128     0.272(±0.036)  0.069(±0.074)  0.027(±0.050)  0.012(±0.026)
        592     0.483(±0.078)  0.489(±0.074)  0.297(±0.151)  0.160(±0.150)
        960     0.603(±0.150)  0.614(±0.213)  0.437(±0.226)  0.374(±0.183)
        1184    0.624(±0.150)  0.661(±0.173)  0.471(±0.227)  0.373(±0.227)
        1424    0.754(±0.102)  0.804(±0.088)  0.665(±0.112)  0.556(±0.210)
        1904    0.819(±0.088)  0.859(±0.070)  0.750(±0.109)  0.675(±0.173)
        2384    0.756(±0.121)  0.789(±0.110)  0.718(±0.107)  0.524(±0.266)
        3568    0.828(±0.098)  0.854(±0.090)  0.747(±0.131)  0.717(±0.169)
entropy 64      0.413(±0.137)  0.334(±0.218)  0.245(±0.235)  0.096(±0.126)
        128     0.557(±0.188)  0.510(±0.306)  0.401(±0.247)  0.331(±0.205)
        592     0.817(±0.020)  0.839(±0.020)  0.776(±0.031)  0.659(±0.034)
        960     0.843(±0.024)  0.872(±0.025)  0.787(±0.053)  0.717(±0.031)
        1184    0.873(±0.007)  0.905(±0.006)  0.819(±0.019)  0.774(±0.011)
        1424    0.871(±0.016)  0.902(±0.012)  0.818(±0.019)  0.766(±0.034)
        1904    0.887(±0.017)  0.911(±0.017)  0.837(±0.015)  0.803(±0.039)
        2384    0.909(±0.005)  0.927(±0.004)  0.859(±0.009)  0.851(±0.008)
        3568    0.909(±0.005)  0.927(±0.006)  0.857(±0.011)  0.855(±0.006)

In [47]:
print(df_img_al_algos.to_latex(index=True))

\begin{tabular}{llllll}
\toprule
        &      &    All classes &             LV &             RV &            MYO \\
        &      \\
{} & budget &                &                &                &                \\
\midrule
random & 64 &  0.281(±0.025) &  0.121(±0.102) &  0.017(±0.021) &  0.003(±0.006) \\
        & 128 &  0.319(±0.035) &  0.186(±0.063) &  0.079(±0.078) &  0.030(±0.033) \\
        & 592 &  0.354(±0.084) &  0.217(±0.174) &  0.112(±0.081) &  0.106(±0.082) \\
        & 960 &  0.417(±0.085) &  0.293(±0.134) &  0.209(±0.175) &  0.184(±0.058) \\
        & 1184 &  0.437(±0.030) &  0.322(±0.028) &  0.272(±0.053) &  0.170(±0.064) \\
        & 1424 &  0.422(±0.046) &  0.317(±0.081) &  0.211(±0.088) &  0.178(±0.066) \\
        & 1904 &  0.521(±0.075) &  0.430(±0.147) &  0.335(±0.154) &  0.334(±0.133) \\
        & 2384 &  0.553(±0.065) &  0.524(±0.066) &  0.364(±0.175) &  0.338(±0.083) \\
        & 3568 &  0.644(±0.069) &  0.624(±0.079) &  0.539(±0.185) &  0.426(±0.107) \\
bald & 64 &  0.302(±0.082) &  0.127(±0.155) &  0.069(±0.132) &  0.038(±0.047) \\
        & 128 &  0.272(±0.036) &  0.069(±0.074) &  0.027(±0.050) &  0.012(±0.026) \\
        & 592 &  0.483(±0.078) &  0.489(±0.074) &  0.297(±0.151) &  0.160(±0.150) \\
        & 960 &  0.603(±0.150) &  0.614(±0.213) &  0.437(±0.226) &  0.374(±0.183) \\
        & 1184 &  0.624(±0.150) &  0.661(±0.173) &  0.471(±0.227) &  0.373(±0.227) \\
        & 1424 &  0.754(±0.102) &  0.804(±0.088) &  0.665(±0.112) &  0.556(±0.210) \\
        & 1904 &  0.819(±0.088) &  0.859(±0.070) &  0.750(±0.109) &  0.675(±0.173) \\
        & 2384 &  0.756(±0.121) &  0.789(±0.110) &  0.718(±0.107) &  0.524(±0.266) \\
        & 3568 &  0.828(±0.098) &  0.854(±0.090) &  0.747(±0.131) &  0.717(±0.169) \\
entropy & 64 &  0.413(±0.137) &  0.334(±0.218) &  0.245(±0.235) &  0.096(±0.126) \\
        & 128 &  0.557(±0.188) &  0.510(±0.306) &  0.401(±0.247) &  0.331(±0.205) \\
        & 592 &  0.817(±0.020) &  0.839(±0.020) &  0.776(±0.031) &  0.659(±0.034) \\
        & 960 &  0.843(±0.024) &  0.872(±0.025) &  0.787(±0.053) &  0.717(±0.031) \\
        & 1184 &  0.873(±0.007) &  0.905(±0.006) &  0.819(±0.019) &  0.774(±0.011) \\
        & 1424 &  0.871(±0.016) &  0.902(±0.012) &  0.818(±0.019) &  0.766(±0.034) \\
        & 1904 &  0.887(±0.017) &  0.911(±0.017) &  0.837(±0.015) &  0.803(±0.039) \\
        & 2384 &  0.909(±0.005) &  0.927(±0.004) &  0.859(±0.009) &  0.851(±0.008) \\
        & 3568 &  0.909(±0.005) &  0.927(±0.006) &  0.857(±0.011) &  0.855(±0.006) \\
\bottomrule
\end{tabular}

## All classes mean and std

In [28]:
np.set_printoptions(formatter={'float': lambda x: "{0:0.3f}".format(x)})

In [29]:
random_mean = np.array(df_img_random["All classes"]["mean"].values)
random_sd = np.array(df_img_random["All classes"]["std"].values)

In [30]:
bald_mean = np.array(df_img_bald["All classes"]["mean"].values)
bald_sd = np.array(df_img_bald["All classes"]["std"].values)

In [31]:
entropy_mean = np.array(df_img_entropy["All classes"]["mean"].values)
entropy_sd = np.array(df_img_entropy["All classes"]["std"].values)

In [32]:
random_mean

array([0.281, 0.319, 0.354, 0.417, 0.437, 0.422, 0.521, 0.553, 0.644])

In [33]:
random_sd

array([0.025, 0.035, 0.084, 0.085, 0.030, 0.046, 0.075, 0.065, 0.069])

In [34]:
entropy_mean

array([0.413, 0.557, 0.817, 0.843, 0.873, 0.871, 0.887, 0.909, 0.909])

In [35]:
entropy_sd

array([0.137, 0.188, 0.020, 0.024, 0.007, 0.016, 0.017, 0.005, 0.005])

In [36]:
bald_mean

array([0.302, 0.272, 0.483, 0.603, 0.624, 0.754, 0.819, 0.756, 0.828])

In [37]:
bald_sd

array([0.082, 0.036, 0.078, 0.150, 0.150, 0.102, 0.088, 0.121, 0.098])